body { 
  margin: 0; 
  padding: 0;
}

button:hover {
    background-color: #f37736;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background: none;
    padding-top: 96px;
    padding-bottom: 188px;
    position: relative;
    h1{
        margin-top: 0;
        font-family: $header-font;
        font-size: 60px;
        line-height: 75px;
        font-weight: 100;
        width: 54%;
        text-align: center;
        margin-left: 23%;
        word-spacing: 3px;
        letter-spacing: 1.4px;
        padding-top: 78px;
        /*position: absolute;
        top: 211px;
        left: 21px;*/
    }  
    video {
        position: absolute;
        top: 0;
        z-index: -5;
        width: 100%;
        opacity: 0.5;
    } 
}

h3 {
    color: $square-buttons-and-section-name-color;
    font-family: $font-main;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 3.2px;
}

h2 {
    color: $font-main-color;
    font-family: $font-main;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1.6px;
    span {
        color: $square-buttons-and-section-name-color;
        letter-spacing: 3.8px;
    }
}

h4 {
    color: $font-main-color;
    font-family: $font-main;
    font-size: 22px;
    font-weight: 600;
    line-height: 49.94px;
    letter-spacing: 0.88px;
}

p {
    opacity: 0.66;
    color: $font-main-color;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.64px;
}

a {
    text-decoration: none;
    &:hover {
    color: $founders-color;
    }
}

.user-actions {
    width: 20%;
    margin: 0 auto;
    padding-left: 1px;
    h6 {
        font-family: $font-main;
        color: $font-main-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.56px;
        text-align: center;
    }
}

.try-now {
    width: 190px;
    height: 50px;
    margin-top: 39px;
    margin-bottom: -15px;
    margin-left: 17%;
    border: none;
    border-radius: 3px;
    background-color: $square-buttons-and-section-name-color;
    font-family: $font-main;
    color: $buttons-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 3px;
    &.big {
        width: 258px;
        height: 50px;
        letter-spacing: 1px;
        margin-left: 35px;
    }
}
.play-mode {
    height: 59px;
    width: 59px;
    border-radius: 50%;
    background-color: #323969;
    background-image: url(../img/Polygon_1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 40%;
    opacity: 0.5;
    &:focus {
        outline: none;
      }
    }
.play {
    background-image: url(../img/Polygon_1.png);
}
.pause {
    background-image: url(../img/pause-icon-18-24.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    opacity: 0.3;
}
.intro {
    @include flexbox();
    article {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        width: 60.5%;
        div {
            width: 66%;
        }
        h2 {
            padding: 0;
            margin: 0;
            margin-bottom: 41px;
        }
        h3 {
            line-height: 27px;
            margin: 0;
            padding: 0;
            padding-top: 19px;
        }
        p {
            margin: 0;
            padding: 0;
            line-height: 26px;
            padding-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
.empty {
    width: 39.5%;
    padding-top: 363px;
    padding-bottom: 361px;
    background-color: rgba(237,237,237,0.4);
    background-image: url(../img/Rectangle_21_copy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: -6;
}

.about {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    position: relative;
    padding-bottom: 180px;
    background-color: $section-background-color;
    z-index: -1;
    h3 {
        margin-top: 144px;
        margin-bottom: 14px;
        line-height: 0;
    }
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    div {
        @include flexbox();
        width: 81%;
        margin: 0 auto;
        padding-top: 81px;
    }
    article {
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        width: 37%;
        p {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        h4 {
            text-align: center;
            margin-top: 13px;
            margin-bottom: -2px;
        }
        img {
            width: 67px;
        }
    }
}

.penholder {
    position: absolute;
    left: 82px;
}

.earphones {
    position: absolute;
    right: 164px;
    top: -7px;
}

.coffee {
    position: absolute;
    right: 88px;
    width: 204px;
    height: 202px;
    bottom: -82px;
}

.top-new {
    @include flexbox();
    padding-top: 93px;
    padding-left: 56px;
    padding-bottom: 80px;
    background-image: url(../img/Slice_1.png);
    background-size: cover;
    z-index: 3;
    article {
        max-width: 525px;
        margin-left: 51px;
        padding-top: 55px;
        h3 {
            margin-top: 0;
            margin-bottom: 24px;
            line-height: 0;
        }
        h2 {
            margin: 0;
        }
        p {
            margin-top: 32px;
            margin-bottom: 0;
        }
    }
}
.angle {
    position: absolute;
    left: -100px;
}
.macbook {
    margin-bottom: 10px;
}

.partnership {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    background-image: url(../img/Group_4.png);
    background-size: cover;
    padding-bottom: 75px;
}

.co-founders {
    @include flexbox();
    @include justify-content(space-evenly);
    width: 85.5%;
    margin: 0 auto;
    padding-top: 108px;
    padding-bottom: 50px;
}

.founder {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    width: 27%;
    div {
        width: 76px;
        height: 76px;
        background-color: $founders-color;
        border: 2px solid #1d1e24;
    }
    h5 {
        color: $founders-names;
        font-family: $font-main;
        font-size: 22px;
        font-weight: 600;
        line-height: 49.97px;
        letter-spacing: 0.88px;
        margin-top: 9px;
        margin-bottom: 0;
    }
    .position {
        color: #ff6d6d;;
        font-family: $font-main;
        font-style: normal;
        font-size: 16px;
        font-weight: 700;
        line-height: 8px;
        margin-top: 0;
        letter-spacing: 0px;
    }
    p {
        opacity: 0.66;
        color: $main-white-font;
        font-family: $font-main;
        font-size: 16px;
        font-weight: 600;
        font-style: italic;
        line-height: 26px;
        letter-spacing: 0.64px;
        text-align: center;
    }
}

.partners {
    @include flexbox();
    @include justify-content(space-between);
    width: 67%;
    padding-bottom: 6px;
    img {
        height: 85px;
        width: auto;
    }
}

.other-news {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding-top: 115px;
    article {
        width: 46%;
        margin-bottom: 75px;
        h3, h2, p {
            text-align: center;
        }
        h3 {
            margin: 0;
            line-height: 0;
        }
        h2 {
            margin-top: 14px;
            margin-bottom: 32px;
        }
    }
}

aside {
    @include flexbox();
    @include flex-direction(column);
    background-color: $aside-background-color;
    padding-top: 79px;
    h3,  h2  {
        margin: 0;
        text-align: center;
    }
    h3 {
        margin-bottom: -11px;
    }
    h2 {
        color: $main-white-font;
    }
    p{
        @include align-self(center);
        color: #f6f5f3;
        font-family: Exo;
        font-size: 16px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: 0.4px;
        margin-top: 19px;
        margin-left: 5px;
        margin-bottom: 58px;
        a {
            color: #f6f5f3;
            letter-spacing: 0.4px;
            text-decoration: underline;
            &:hover {
                color: $founders-color;
                }
        }
    }
}

.pointer {
    @include align-self(flex-end);
    width: 260px;
    display: inline-flex;
    height: 43px;
    margin-top: 7px;
    margin-bottom: 16;
    margin-bottom: 6px;
    margin-right: 12%;

    p {
        margin: 0;
        padding-top: 35px;
        padding-left: 3px;
        color: $main-white-font;
        font-family: $font-main;
        font-size: 16px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: 0.64px;
    }

    img {
        position: relative;
        top: 30px;
        right: -25px;
    }
}

.feedback {
    @include flexbox();
    @include align-items(baseline);
    @include align-self(center);
    width: 79%;
    input {
        width: 238px;
        height: 46px;
        border-radius: 3px;
        border: 1px solid #ffffff;
        background-color: rgba(246,245,243, 0.05);
        margin-left: 29px;
        padding-left: 25px;
        color: $section-background-color;
        font-family: $font-main;
        font-size: 16px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: 0.64px;
        &::placeholder {
            color: $section-background-color;
            font-family: $font-main;
            font-size: 16px;
            font-weight: 400;
            line-height: 75px;
            letter-spacing: 0.64px;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
footer {
    margin: 0;
    padding: 0;
    background-image: url(../img/Slice_3.png);
    background-size: cover;
    background-position-x: -19px;
}
.footer-wrapper {
    @include flexbox();
    margin-top: 5px;
    width: 79%;
    margin: 0 auto;
    padding-top: 53px;
    padding-bottom: 80px;
    position: relative;
    h5 {
        color: $font-main-color;
        font-family: $font-main;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 0;
        span {
            color: $main-white-font;
            letter-spacing: 3px;
            margin-left: 2px;
        }
    }
    a {
        opacity: 0.66;  
        color: $font-main-color;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        &:hover {
            color: $founders-color;
            }
    }
    img {
        position: absolute;
        z-index: -100;
        top: -95%;
        left: 62.5%;
    }
}

.adress {
    max-width: 232px;
    position: relative;
    img {
        position: absolute;
        top: 30px;
        left: 64px;
        z-index: -1;
    }
    p {
        color: $font-main-color;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.56px;
    }
}

.support {
    max-width: 84px;
    margin-left: 66px;
    h5 {
        letter-spacing: 0;
        padding-bottom: 13px;
    }
}

.about-us {
    max-width: 99px;
    margin-left: 110px;
    h5 {
        letter-spacing: 0;
        padding-bottom: 13px;
    }
}

.contact-us {
    max-width: 265px;
    margin-left: 94px;
    h5 {
        letter-spacing: 1px;
    }
}

.e-mail {
    @include flexbox();
    margin-top: 23px;
    input {
        width: 263px;
        height: 45px;
        border-radius: 3px;
        border: 1px solid $founders-color;
        background-color: rgba(141,141,141,0.3);
        opacity: 0.4;
        z-index: 1;
        opacity: 0.4;
        color: #000000;
        font-family: $font-main;
        font-size: 16px;
        font-weight: 400;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: 0.64px;
        padding-left: 27px;
    }
    button {
        width: 58px;
        height: 49px;
        box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
        border-radius: 3px;
        border: 1px solid $square-buttons-and-section-name-color;
        background-color: $square-buttons-and-section-name-color;
        background-image: url(../img/10.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: -36px;
        z-index: 3;
    }
}
.disabled {
    cursor: not-allowed; 
    background-color: gray;
    opacity: 0.7;
}
.follow-us {
    margin-top: 30px;
    margin-left: 10px;
    a {
        filter: grayscale(100%);
        opacity: 0.5;
        margin-left: 44px;
        &:hover {
            color: $founders-color;
            }
    }
}