$colorWhite: #ffffff;
$backgroundColorLight: #f5f5f5;
$fontColorDark: #333333;
$backgroundColorDark: $fontColorDark;
$fontColorBlack: #212121;
$fontColorMiddle: #86878b;
$fontColorLight: #bdbdbd;
$orangeColor: #ff8b38;
$borderColorLight: #c7c7c7;
$socialIconsColor: #cccccc;

$fontRaleway: 'Raleway', sans-serif;