@media screen and (min-width: 1024px) and (max-width: 1260px) {

  body {

    .second-back {

      header {

        .small-logo {
          padding: 17px 25px;
        }
      }
    }

    .align {
      max-width: 1000px;
    }

    .add-background {
      padding: 0 10px;
    }

    .top-navigation {
      margin-right: 0;
    }

    .slider-buttons {
      flex-basis: 30%;
      width: 100%;
    }

    .pic {
      width: 90%;
    }

    .labels {

      img {
        width: 100%;
      }
    }

    .quote-content {
      width: 950px;

      .quote-block {
        width: 950px;
      }
    }

    .quote-paragraph {
      font-size: 18px !important;
      width: 690px;
    }

    .lb-item {
      flex-basis: 33%;
    }

    .calendar {
      top: 38%;
    }

    .mogo-text {
      margin-left: 35px;
    }

    .mogo-blogs {
      padding: 14px 0 0 25px;
    }

    .mogo-instagram {
      margin-right: 30px;
    }

    .mogo-form input[type="submit"] {
      padding: 9px;
    }
  }
}