# IDE ignores
.idea/
.vscode/
*.iml
*.sublime*
HTML/mockup-corporate/style.comp.css
HTML/mockup-corporate/style.prefix.css
HTML/mockup-corporate/style.comp.css.map

# common ignores
node_modules
*.log
*.log.*
.DS_STORE
.DS_Store
._*
