footer#footer.footer.container
  ul.footer--link-list
    li: a(href="#" class="social-link__fb-sm" title="facebook")
    li: a(href="#" class="social-link__tw-sm" title="twitter")
    li: a(href="#" class="social-link__gp-sm" title="google+")
    li: a(href="#" class="social-link__pn-sm" title="pinterest")
    li: a(href="#" class="social-link__ins-sm" title="instagram")
    li: a(href="#" class="social-link__stu-sm" title="stubon upon")
    li: a(href="#" class="social-link__rss-sm" title="RSS chanel")
  span.copyright &copy; 2018 Axure Themes
