header#header.header
  nav.header--nav.container
    a(href="#" class="header--logo")
      img(src="img/company_logo.png" alt="AXIT Logo")
    ul.header--menu
      li
        a(href="#features") Features
      li
        a(href="#about") About
      li
        a(href="#pricing") Pricing
      li
        a(href="#contact-us") Contact
