section#about.about
  h2.section-heading why this is awesome
  span.small-heading Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .benefits
    .benefits--block
      figure
      h4 Thoughtful Design
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean euismod bibendum laoreet. Proin gravida
        dolor sit amet lacus accumsan et viverra.
    .benefits--block
      figure
      h4 Well Crafted
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean euismod bibendum laoreet. Proin gravida
        dolor sit amet lacus accumsan et viverra.
    .benefits--block
      figure
      h4 Easy to Customize
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean euismod bibendum laoreet. Proin gravida
        dolor sit amet lacus accumsan et viverra.
        
