section#contact-us.contact-us
  h2.section-heading contact us
  span.small-heading Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  form(action="#", class="message")
    .message--fields
      input(type="text", name="name", placeholder="Name")
      input(type="email", name="email", placeholder="Email")
      input(type="text", name="subject", placeholder="Subject")
    textarea(name="message", placeholder="Message", rows="9")
    fieldset.message--button
      input(class="btn-primary", type="button", value="Send Message")
