section#custom.custom
  h2.section-heading__white stylish axure design
  p.custom-heading.
    Use the sections you need, remove the ones you don't. Create gorgeous prototypes faster than ever!
  button.btn-border Download
