article#features.features
  section.features--first
    .feature--tabs
      button.features--btn__active Tab1
      button.features--btn Tab2
      button.features--btn Tab3
    .feature--content
      h3.feature--title__tabs Tabs with soft transitioning effect.
      p.feature--text.mt-bg.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus 
        accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        Cum sociis natoque penatibus et magnis dis parturient montes.
      p.feature--text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        euismod bibendum laoreet.
      button.btn-primary.mt-md Download
    img(class="feature--image", src="img/skyscrapers.png", alt="Skyscrappers")
  section.features--second
    img(src="img/image_city_1.png", alt="Image of City")
    .feature--content__side
      h3.feature--title Sub list section
      hr.small-line
      p.feature--text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
      .feature--sublist.mt-bg
        .sublist-item
          figure
          .icon-caption
            span Title
            p.text-default.mb-bg.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet.
        .sublist-item
          figure
          .icon-caption
            span Title
            p.text-default.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
  section.features--third
    .feature--content__side
      h3.feature--title Standard Picture Section
      hr.small-line
      p.feature--text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        euismod bibendum laoreet. Proin gravida dolor sit amet lacus
        accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        Cum sociis natoque penatibus et magnis dis parturient montes.
      p.feature--text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        euismod bibendum laoreet.
    img(src="img/image_city_2.png", alt="Image of City 2")
