section#hero.hero
  .company
    h1.company--name(title="AXIT")
      img(src="img/company_logo.png", alt="AXIT Logo")
    h2.hero--title
      |modern axure template
      br 
      |for beautiful prototypes
    p.hero--description.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
      euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    button.btn-border Download
  form.signup-form(action="", method="POST")
    h3.signup-form--heading
      |Try Your 
      ins free 
      |Trial Today
    fieldset
      input(type="text", name="name", placeholder="Name")
      input(type="email", name="email", placeholder="Email")
      input(type="password", name="password", placeholder="Password")
    input(type="button", value="Get Started")
