section#pricing.pricing
  h2.section-heading pricing options
  span.small-heading Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .cards-holder
    .pricing-slot
      .pricing-slot__upper
        h4.pricing-slot__header Basic
        p.pricing-slot__value
          sub $
          |0
        p.pricing-slot__sub Free for Life
      .pricing-slot__lower
        ul.pricing-slot__list
          li 1 gb of space
          li 10 gb of bandwidth
          li 3 websites
          li basic customization
          li wordpress integration
          li email support
    .pricing-slot
      .pricing-slot__upper
        h4.pricing-slot__header Professional
        p.pricing-slot__value
          sub $
          |19
        p.pricing-slot__sub--popular Monthly Payment
      .pricing-slot__lower
        ul.pricing-slot__list
          li 5 gb of space
          li 50 gb of bandwidth
          li 12 websites
          li advanced customization
          li wordpress integration
          li email support
    .pricing-slot
      .pricing-slot__upper
        h4.pricing-slot__header Enterprise
        p.pricing-slot__value
          sub $
          |70
        p.pricing-slot__sub Monthly Payment
      .pricing-slot__lower
        ul.pricing-slot__list
          li unlimited space
          li unlimited bandwidth
          li 100 websites
          li advanced customization
          li wordpress integration
          li 24/7 customer support
