section#pricing.pricing
  h2.section-heading pricing options
  span.small-heading Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .cards-holder
    .pricing-slot
      .pricing-slot--upper
        h4.pricing-slot--header Basic
        p.pricing-slot--value
          sub $
          |0
        p.pricing-slot--sub Free for Life
      .pricing-slot--lower
        ul.pricing-slot--list
          li 1 gb of space
          li 10 gb of bandwidth
          li 3 websites
          li basic customization
          li wordpress integration
          li email support
    .pricing-slot
      .pricing-slot--upper
        h4.pricing-slot--header Professional
        p.pricing-slot--value
          sub $
          |19
        p.pricing-slot--sub__popular Monthly Payment
      .pricing-slot--lower
        ul.pricing-slot--list
          li 5 gb of space
          li 50 gb of bandwidth
          li 12 websites
          li advanced customization
          li wordpress integration
          li email support
    .pricing-slot
      .pricing-slot--upper
        h4.pricing-slot--header Enterprise
        p.pricing-slot--value
          sub $
          |70
        p.pricing-slot--sub Monthly Payment
      .pricing-slot--lower
        ul.pricing-slot--list
          li unlimited space
          li unlimited bandwidth
          li 100 websites
          li advanced customization
          li wordpress integration
          li 24/7 customer support
