section#reviews.reviews
  h2.section-heading what our customers are saying
  span.small-heading Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .users-list
    .testimonial
      blockquote
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
      a(href="img/avatar1.jpeg", class="testimonial--avatar", target="_blank", rel="noopener noreferrer")
        img(src="img/avatar1.jpeg", class="avatar", alt="User Avatar")
      .user-details
        h4.review-author Jeremy H.
        span.review-position Freelancer
    .testimonial
      blockquote
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
      a(href="img/avatar2.jpeg", class="testimonial--avatar", target="_blank", rel="noopener noreferrer")
        img(src="img/avatar2.jpeg", class="avatar", alt="User Avatar")
      .user-details
        h4.review-author Susan W.
        span.review-position Realtor
    .testimonial
      blockquote
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
      a(href="img/avatar3.jpeg", class="testimonial--avatar", target="_blank", rel="noopener noreferrer")
        img(src="img/avatar3.jpeg", class="avatar", alt="User Avatar")
      .user-details
        h4.review-author Erik F.
        span.review-position Manager
