section#social.social
  .social__bar
    h3 Social Media
    span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
  ul.social__links-list
    li: a(href="#", class="social-link--fb", title="facebook")
    li: a(href="#", class="social-link--tw", title="twitter")
    li: a(href="#", class="social-link--gp", title="google+")
    li: a(href="#", class="social-link--pn", title="pinterest")
    li: a(href="#", class="social-link--ins", title="instagram")
    li: a(href="#", class="social-link--stu", title="stubon upon")
    li: a(href="#", class="social-link--rss", title="RSS")
  ul.social__links-list--mb
    li: a(href="#", class="social-link--fb-sm", title="facebook")
    li: a(href="#", class="social-link--tw-sm", title="twitter")
    li: a(href="#", class="social-link--gp-sm", title="google+")
    li: a(href="#", class="social-link--pn-sm", title="pinterest")
    li: a(href="#", class="social-link--ins-sm", title="instagram")
    li: a(href="#", class="social-link--stu-sm", title="stubon upon")
    li: a(href="#", class="social-link--rss-sm", title="RSS")
