.benefits {

  &--block {
    border: 1px solid green;
    width: 33%;

    & > figure {
      @include figureCircle($size-side2);
    }

    &:nth-child(1) > figure {
      background-image: $icon-bulb;
    }

    &:nth-child(2) > figure {
      background-image: $icon-keyboard;
    }

    &:nth-child(3) > figure {
      background-image: $icon-lightning;
    }
  }

  &-icon {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid $color-main;
    border-radius: 50%;
    margin: 0 auto;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
