.social {
  text-align: left;
  position: relative;
  padding: $padding-social;
  box-shadow: 0px 1px 3px 0px rgba($color-black, .38);
  // For test purpose
  @include d-flex;

  &--bar {
    max-width: 380px;
    margin-right: 80px;

    & > h3 {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 5px;
    }

    & > span {
      line-height: 2rem;
    }
  }

  &--links-list {
    @include d-flex;
    align-self: center;
    flex: 1 0 auto;
  }
}

.social-link {

  &__fb,
  &__tw,
  &__gp,
  &__pn,
  &__ins,
  &__stu,
  &__rss {
    @include socialLinks($sprite-bg, 55px, 46px);
  }

  &__fb {
    background-position: 10px 0;
  }

  &__tw {
    background-position: -85px 0;
  }

  &__gp {
    background-position: -190px 0;
  }

  &__pn {
    background-position: -280px 0;
  }

  &__ins {
    background-position: -381px 0;
  }

  &__stu {
    background-position: -483px 0;
  }

  &__rss {
    background-position: -592px 0;
  }
}
