@font-face {
  font-family: MonsterratBold;
  src: url(../fonts/Montserrat-Bold.otf); }

@font-face {
  font-family: MonsterratReg;
  src: url(../fonts/Montserrat-Regular.otf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

header {
  background-color: #fce38a;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/Layer_15.png);
  background-size: cover;
  background-position: center; }

h4 {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  text-align: center; }

h3 {
  color: #333333;
  font-family: MonsterratBold;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px; }

h6 {
  color: #333333;
  font-family: MonsterratReg;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; }

hr {
  width: 60px;
  height: 3px;
  color: #ffffff;
  border: none;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 32px; }

.container {
  width: 1200px;
  margin: 0 auto; }

.headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding-top: 13px;
  border: none; }
  .headline h3 {
    color: #ffffff;
    font-family: MonsterratBold;
    font-size: 30px;
    font-weight: 700;
    text-transform: none;
    margin-left: 19%; }

.movingHeader {
  background-color: rgba(128, 128, 128, 0.7);
  box-shadow: 0 6px 2px -2px rgba(128, 128, 128, 0.4);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .movingHeader .nav-item {
    transition-property: border-bottom;
    transition-duration: 2s;
    transition-delay: 1s; }

.hamburger {
  display: none; }

.navigation {
  display: flex;
  justify-content: baseline;
  width: 49%;
  padding-bottom: 4px; }
  .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-family: MonsterratReg;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 55px;
    padding-bottom: 15px; }
    .navigation a:first-child {
      margin-left: 0; }
    .navigation a:last-child {
      margin-left: 42px; }
  .navigation button {
    margin-left: 58px; }

.nav-item:hover {
  color: #fce38a;
  border-bottom: solid #fce38a 2px; }

.welcome {
  width: 70%;
  padding-top: 140px; }
  .welcome h2 {
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-size: 72px;
    font-weight: 400;
    text-align: center; }
  .welcome h1 {
    color: #ffffff;
    font-family: MonsterratBold;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    letter-spacing: -6px; }
  .welcome hr {
    width: 60px;
    height: 3px;
    color: #ffffff;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 55px; }
  .welcome button {
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    background: none;
    color: #ffffff;
    font-family: MonsterratReg;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 51px;
    margin-left: 41.5%; }

.carousell {
  display: flex;
  margin-top: 157px;
  padding-bottom: 23px; }
  .carousell div {
    width: 280px;
    color: #ffffff;
    font-family: MonsterratReg;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-top: solid rgba(255, 255, 255, 0.7) 2px;
    margin-left: 30px;
    padding-top: 17px;
    position: relative; }
    .carousell div:first-child {
      margin-left: 0; }
    .carousell div:hover {
      border-top: solid white 2px; }
      .carousell div:hover:before {
        position: absolute;
        top: -2px;
        display: block;
        content: '';
        border: 1px solid #f38181;
        height: 1%;
        width: 25%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
    .carousell div span {
      font-family: MonsterratBold;
      font-size: 24px;
      font-weight: 700;
      margin-right: 10px; }

.about {
  padding-top: 85px;
  padding-bottom: 50px; }
  .about p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 42px; }
  .about div:first-child {
    position: relative; }

.about-photos {
  margin-top: 96px;
  display: flex;
  justify-content: space-between; }

.about-hover-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 291px;
  left: -12px;
  width: 381px;
  height: 251px;
  border: none;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  padding: 10px;
  box-shadow: 12px 12px 0 #95e1d3; }
  .about-hover-image p {
    color: #ffffff;
    font-family: MonsterratBold;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 11px; }
  .about-hover-image img {
    width: 32px;
    align-self: center;
    margin-top: 26%; }

.statistics {
  background-color: #95e1d3;
  margin-top: 62px; }
  .statistics div:first-child {
    display: flex;
    justify-content: space-between; }

.stat-item {
  border-right: solid rgba(255, 255, 255, 0.3) 1px;
  width: 20%;
  padding-top: 102px;
  padding-bottom: 84px; }
  .stat-item:first-child, .stat-item:last-child {
    border-left: solid rgba(255, 255, 255, 0.3) 1px;
    flex-direction: column; }

.number {
  text-align: center;
  color: #ffffff;
  font-family: MonsterratBold;
  font-size: 72px;
  font-weight: 700; }
  .number:first-child {
    text-align: center; }

.description {
  text-align: center;
  color: #ffffff;
  font-family: MonsterratReg;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 35px; }
  .description:first-child {
    text-align: center; }

.used-services {
  padding-top: 102px;
  padding-bottom: 75px; }
  .used-services img {
    width: 32px;
    height: auto;
    float: left; }

.align-services {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #999999;
  margin-top: 65px; }
  .align-services:last-child {
    border-bottom: none;
    margin-top: 45px; }
  .align-services p {
    width: 282px;
    margin-left: 60px;
    padding-bottom: 45px; }
  .align-services h6 {
    margin-left: 60px;
    margin-bottom: 10px; }

.design {
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0.8) 0%, rgba(238, 238, 238, 0.8) 100%), url("../img/Layer_45.png");
  background-size: cover;
  padding-bottom: 37px; }
  .design h4 {
    padding-top: 105px; }

.big-phone {
  width: 40%;
  position: relative;
  bottom: -44px;
  left: 28%; }

.small-phone {
  position: relative;
  bottom: -135px;
  left: 18%; }

.own-services {
  padding-top: 106px; }
  .own-services p {
    text-align: center;
    width: 82%;
    margin: 0 auto;
    padding-top: 44px; }

.display {
  display: flex;
  margin-top: 86px; }
  .display img {
    height: 380px; }

.services-list {
  width: 600px;
  margin-left: 46px; }
  .services-list img {
    height: 30px; }
  .services-list div {
    display: flex;
    justify-items: baseline; }

.accordion {
  width: 50%; }

.accordion-section {
  width: 100%;
  margin-left: 30px;
  border: 1px solid #e5e5e5; }

.accordion-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
  background-color: transparent;
  background-image: url(../img/UP.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 3%; }
  .accordion-heading.active {
    background-image: url(../img/DOWN.png); }
  .accordion-heading img {
    width: 30px;
    height: auto;
    padding: 16px 0px 12px 16px;
    z-index: -5; }
  .accordion-heading i {
    color: #cccccc;
    font-size: 40px;
    margin-right: 18px;
    margin-top: 10px;
    z-index: -5; }

.accord-img {
  display: none; }
  .accord-img.tabSwitch {
    display: block; }

.accordion-section h3 {
  color: #333333;
  font-family: MonsterratReg;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: auto;
  margin-left: 12px;
  z-index: -5; }

.accordion-section p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 90%;
  padding-top: 0;
  margin: 16px 24px 22px 34px;
  max-height: 140px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .accordion-section p::-webkit-scrollbar {
    width: 5px;
    margin: 5px; }
  .accordion-section p::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 3px; }
  .accordion-section p::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #95e1d3; }

.panel {
  display: none; }

.show {
  display: block; }

.feedback {
  background-color: #f8f8f8;
  padding-bottom: 65px;
  padding-top: 65px;
  margin-top: 60px; }
  .feedback p {
    max-width: 767px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; }
    .feedback p span {
      color: #333333;
      font-family: "Kaushan Script", cursive;
      font-size: 24px;
      font-weight: 400;
      clear: both;
      display: inline-block;
      width: 100%;
      margin-top: 6px;
      padding-left: 65px; }
  .feedback hr {
    position: absolute;
    bottom: 15px;
    left: 25%; }
  .feedback button {
    width: 12px;
    height: 22px;
    border: none;
    background: none; }
    .feedback button:first-child {
      background-image: url(../img/DOWN_copy_2.png); }
    .feedback button:last-child {
      background-image: url(../img/DOWN_copy.png); }

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between; }

#quotes_slider, #review_slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto; }

.holder {
  width: 100%;
  overflow: hidden; }

.slide-in {
  width: 100%;
  display: flex; }

.slide-holder {
  display: flex; }

.slide-content-one {
  display: flex;
  width: 1200px;
  justify-content: space-around; }

.transition {
  transition: transform 0.4s; }

.chat {
  width: 150px;
  height: 150px;
  border: 3px solid #95e1d3;
  background-image: url(../img/SPEECH_4.png);
  background-position: center;
  background-repeat: no-repeat; }

.feed-photo {
  width: 150px;
  height: 150px;
  border: none;
  background-color: none; }
  .feed-photo img {
    width: 140px; }

.team {
  padding-top: 88px; }
  .team p {
    width: 82%;
    text-align: center;
    margin: 0 auto;
    padding-top: 43px; }
  .team h6 {
    text-align: center;
    margin-top: 22px; }

.team-photos {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 90px; }
  .team-photos p {
    padding-top: 5px; }

.follow-us {
  display: flex;
  align-self: center;
  padding-left: 21%; }
  .follow-us div {
    width: 56px;
    height: 56px;
    border: solid #e6af80 1px;
    background-repeat: no-repeat;
    background-position: center; }

.team-hover-image {
  width: 380px;
  height: 470px;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  box-shadow: 12px 12px 0 #95e1d3;
  display: flex;
  position: absolute;
  top: -11px;
  left: -12px; }

.fb {
  background-color: #f38181;
  background-image: url(../img/facebook.png); }

.twit {
  background-image: url(../img/twitter.png);
  background-color: #fce38a; }

.pinterest {
  background-image: url(../img/pinterest.png);
  background-color: #fce38a; }

.instagram {
  background-image: url(../img/instagram.png);
  background-color: #fce38a; }

.logos {
  background-color: #f8f8f8;
  margin-top: 116px; }
  .logos div {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 50px; }
  .logos img:nth-child(2) {
    height: 138px; }

.works {
  padding-top: 105px; }
  .works p {
    width: 82%;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px; }

.portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  margin-top: 100px; }
  .portfolio img {
    max-width: 100%; }
    .portfolio img:hover {
      background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
      transition: .5s all; }

.large {
  grid-area: 1/3/3/3; }

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 90%; }

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

.clients {
  margin-top: 65px;
  padding-top: 104px;
  padding-bottom: 27px;
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0.8) 0%, rgba(238, 238, 238, 0.8) 100%), url(../img/Layer_53.png);
  background-repeat: no-repeat;
  background-size: cover; }

.people-say {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 95px; }
  .people-say div {
    max-width: 515px;
    margin-bottom: 70px; }
  .people-say img {
    float: left; }
  .people-say p {
    margin-left: 150px; }
  .people-say h6 {
    margin-left: 135px; }
  .people-say hr {
    margin-top: 22px;
    margin-bottom: 20px;
    margin-right: 315px; }

.position {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  margin-left: 135px;
  margin-top: 15px; }

.blog {
  padding-top: 102px; }

.events-list {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  column-gap: 4%;
  margin-top: 49px; }

.event {
  width: 100%;
  position: relative;
  margin-right: 10px; }
  .event p {
    margin-bottom: 20px;
    max-height: 48px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .event h6 {
    margin-top: 12px;
    margin-bottom: 10px; }

.blog-image {
  width: 100%;
  height: 255px; }

.counter {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 12px;
  border-top: solid #e5e5e5 1px; }
  .counter img {
    height: 15px;
    margin-left: 10px;
    margin-right: 5px; }
    .counter img:first-child {
      height: 12px; }

.date {
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  padding-top: 15px;
  position: absolute;
  top: 160px;
  left: -10px; }
  .date p {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    margin: 0; }

.date .big-num {
  font-family: MonsterratBold;
  font-size: 30px;
  font-weight: 700;
  font-style: normal; }

.map {
  margin-top: 90px;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0.8) 0%, rgba(238, 238, 238, 0.8) 100%), url("../img/Layer_59.png");
  background-size: cover;
  padding-top: 55px; }
  .map img {
    margin-left: 49.5%; }
  .map h3 {
    color: #f38181;
    font-size: 24px;
    font-weight: 700; }
  .map hr {
    margin-top: 20px; }

footer {
  background-color: #f8f8f8; }
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 36px; }

.contacts {
  max-width: 460px; }
  .contacts h2 {
    color: #cccccc;
    font-family: MonsterratReg;
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 26px; }
  .contacts p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }

.followers {
  color: #333333;
  font-family: MonsterratReg;
  font-size: 14px;
  font-weight: 400;
  padding-top: 42px;
  padding-bottom: 23px;
  border-top: 1px solid #e5e5e5; }
  .followers span {
    font-family: MonsterratReg;
    font-size: 18px;
    font-weight: 700; }
  .followers p {
    font-family: MonsterratReg;
    font-weight: 400; }

.social-media p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 32px; }
  .social-media p a {
    color: #95e1d3;
    font-size: 17px;
    margin: 0 6px; }
    .social-media p a:first-child {
      padding-left: 10px; }

.subscribe {
  display: flex; }
  .subscribe input {
    padding: 15px 94px 11px 10px;
    border: 1px solid #e7e7e7; }
    .subscribe input::placeholder {
      color: #cccccc;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      font-style: italic; }
  .subscribe button {
    background-color: #95e1d3;
    color: #ffffff;
    font-family: MonsterratReg;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 34px 10px 30px; }

.footer-blogs {
  margin-top: 14px;
  padding-right: 6px;
  max-height: 380px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 100%; }
  .footer-blogs h2 {
    color: black;
    font-family: MonsterratReg;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 36px; }

.footer-blog {
  max-width: 350px;
  display: grid;
  grid-template-columns: 34% 60%;
  column-gap: 4%; }
  .footer-blog img {
    margin-right: 20px;
    margin-bottom: 28px;
    width: 100%; }
  .footer-blog p {
    color: black;
    font-family: MonsterratReg;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase; }

.footer-blog-text {
  margin-bottom: 10px; }

.footer-blog-date {
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic; }

.footer-instagram {
  max-width: 280px;
  padding-left: 7px;
  color: #333333;
  font-weight: 400; }
  .footer-instagram h2 {
    font-family: MonsterratReg;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 35px; }
  .footer-instagram a {
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic; }

.instagram-photos {
  padding-bottom: 6px; }

.copyrights {
  text-align: center;
  color: #333333;
  font-family: MonsterratReg;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px; }
  .copyrights span {
    color: #f38181; }

@media (min-width: 1024px) and (max-width: 1200px) {
  .container {
    width: 1000px; }
  .welcome h1 {
    font-size: 100px; }
  .welcome button {
    margin-left: 38.5%; }
  .navigation {
    width: 65%; }
  .about-photos {
    width: 100%; }
    .about-photos img {
      max-width: 30%;
      height: auto; }
  .about-hover-image {
    width: 300px;
    left: 0;
    top: 302px; }
  .accordion {
    width: 40%; }
  .feedback div hr {
    left: 200px; }
  .feedback div p span {
    margin-left: 0; }
  .feedback.nobackground .container hr {
    left: 200px; }
  .feedback.nobackground .container p span {
    margin-left: 0; }
  .align-services p {
    max-width: 250px; }
  .team-photos {
    width: 100%; }
    .team-photos div {
      width: 30%; }
      .team-photos div img {
        width: 100%; }
  .slider {
    width: 100%; }
    .slider p {
      width: 61%; }
  .team-hover-image {
    height: 381px; }
  .follow-us {
    padding: 0;
    margin: 0 auto; }
    .follow-us div {
      height: 35px; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }
  .clients {
    padding-top: 40px; }
  .people-say {
    display: block;
    margin-left: 10%;
    margin-top: 20px; }
    .people-say div {
      max-width: 80%;
      margin: 25px 0 0 0; }
      .people-say div hr {
        margin-right: 70%;
        margin-top: 10px;
        margin-bottom: 10px; }
  .events-list {
    width: 100%; }
  .event {
    width: 30%; }
    .event img {
      width: 100%; }
    .event p {
      font-size: 13px; }
  .date {
    top: 105px; }
  .counter img {
    width: 16px; }
  footer .container {
    flex-wrap: wrap; }
  .footer-instagram {
    max-width: 90%;
    margin-left: 8%; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 760px; }
  .headline h3 {
    margin-bottom: 20px; }
  .movingHeader {
    display: none; }
  .navigation {
    display: none; }
  .hamburger {
    display: flex;
    width: 30px;
    height: auto; }
  .welcome h1 {
    font-size: 90px; }
  .welcome button {
    margin-left: 35.5%; }
  .carousell {
    width: 100%; }
    .carousell div {
      width: 25%; }
  .about-photos {
    flex-direction: column;
    width: 60%;
    margin: 0 auto; }
    .about-photos img {
      margin: 20px 20px 0 0; }
  .about-hover-image {
    top: 250px;
    left: 152px;
    width: 436px;
    height: 251px; }
  .align-services {
    display: inline-block;
    border-bottom: none;
    margin-left: 35px; }
  .feedback hr {
    left: 220px; }
  .feedback div p {
    max-width: 490px; }
    .feedback div p span {
      margin-left: 0; }
  .slider {
    width: 100%; }
    .slider p {
      width: 60%; }
  .own-services img {
    display: none; }
  .accordion-heading h3 {
    margin: 20px auto; }
  .accordion-heading img {
    width: 30px;
    height: 30px;
    padding: 16px 0 12px 16px; }
  .accordion {
    width: 90%; }
  .team-photos {
    flex-direction: column;
    align-items: center; }
  .team-hover-image {
    top: 0px;
    left: 190px; }
  .logos div {
    justify-content: space-around;
    flex-wrap: wrap; }
  .clients {
    padding-top: 30px; }
  .people-say {
    display: block;
    margin-left: 10%;
    margin-top: 0; }
    .people-say div {
      max-width: 80%;
      margin: 10px 0 10px 0; }
      .people-say div hr {
        margin-right: 70%;
        margin-top: 5px;
        margin-bottom: 5px; }
  .events-list {
    flex-direction: column;
    align-items: center; }
  footer .container {
    flex-wrap: wrap; }
  .contacts {
    max-width: 100%; } }

@media (min-width: 425px) and (max-width: 767px) {
  .container {
    width: 420px;
    margin: 0 auto; }
  .headline {
    flex-direction: row;
    align-items: baseline; }
    .headline h3 {
      margin-bottom: 20px; }
  .navigation {
    display: none; }
  .hamburger {
    display: flex;
    width: 30px;
    height: auto; }
  .movingHeader {
    display: none; }
  .welcome {
    margin-top: 50px; }
    .welcome h1 {
      font-size: 50px;
      letter-spacing: 0;
      line-height: 1; }
    .welcome h2 {
      font-size: 40px; }
    .welcome button {
      margin-left: 21.5%; }
  .carousell {
    padding-top: 40px; }
    .carousell div {
      width: 20%;
      font-size: 14px;
      margin-left: 15px; }
      .carousell div span {
        font-size: 14px;
        margin-left: 5px; }
  .about-photos {
    flex-direction: column;
    width: 90%;
    margin: 0 auto; }
    .about-photos img {
      width: 100%;
      margin: 20px 20px 0 0; }
  .about-hover-image {
    top: 297px;
    left: 20px;
    width: 379px;
    height: 251px; }
  .slider {
    width: 100%; }
    .slider p {
      width: 80%; }
    .slider button {
      display: none; }
  .statistics .container {
    flex-direction: column; }
    .statistics .container div {
      width: 100%;
      border-right: none;
      border-left: none;
      border-bottom: solid rgba(255, 255, 255, 0.3) 1px; }
  .used-services hr {
    margin-bottom: 30px; }
  .align-services {
    border: none;
    flex-direction: column;
    align-items: center;
    margin-top: 0; }
    .align-services:last-child {
      margin-top: 0; }
  .small-phone {
    width: 30%; }
  .display img {
    display: none; }
  .accordion {
    width: 90%; }
  .accordion-heading h3 {
    margin: 20px auto; }
  .accordion-heading img {
    width: 30px;
    height: 30px;
    padding: 16px 0 12px 16px; }
  .accordion {
    width: 90%; }
  .feedback div {
    flex-direction: column;
    align-items: center; }
    .feedback div img {
      display: none; }
    .feedback div hr {
      display: none; }
    .feedback div p {
      padding: 0;
      text-align: center; }
      .feedback div p span {
        margin-left: 0; }
  .feedback.nobackground div img:nth-child(2) {
    display: block; }
  .feedback.nobackground div p span {
    margin-right: 0; }
  .chat {
    margin-top: 20px; }
  .people-say {
    display: block;
    margin-left: 0;
    margin-top: 0; }
    .people-say div {
      max-width: 100%;
      margin: 30px 0 30px 0; }
      .people-say div hr {
        display: none; }
  .team-photos {
    flex-direction: column;
    align-items: center; }
  .team-hover-image {
    top: 0px;
    left: 18px; }
  .logos {
    height: auto; }
    .logos div {
      justify-content: space-around;
      flex-wrap: wrap; }
  .portfolio {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%; }
    .portfolio .large {
      grid-area: 3/1/span 2/span 1; }
  .events-list {
    flex-direction: column;
    align-items: center; }
  footer .container {
    flex-wrap: wrap;
    align-items: center; } }

@media (min-width: 320px) and (max-width: 424px) {
  .container {
    width: 310px;
    margin: 0 auto; }
  .headline {
    flex-direction: row;
    align-items: baseline; }
    .headline h3 {
      margin-bottom: 20px; }
  .navigation {
    display: none; }
  .hamburger {
    display: flex;
    width: 30px;
    height: auto; }
  .movingHeader {
    display: none; }
  .welcome {
    margin-top: 50px;
    padding-bottom: 50px; }
    .welcome h1 {
      font-size: 38px;
      letter-spacing: 0;
      line-height: 1; }
    .welcome h2 {
      font-size: 40px; }
    .welcome button {
      margin-left: 10.5%; }
  .carousell {
    display: none; }
  .about-photos {
    flex-direction: column;
    width: 90%;
    margin: 0 auto; }
    .about-photos img {
      width: 100%;
      margin: 20px 20px 0 0; }
  .about-hover-image {
    top: 346px;
    left: 15px;
    width: 279px;
    height: 185px; }
  .statistics .container {
    flex-direction: column; }
    .statistics .container div {
      width: 100%;
      border-right: none;
      border-left: none;
      border-bottom: solid rgba(255, 255, 255, 0.3) 1px; }
  .slider {
    display: none; }
  .used-services hr {
    margin-bottom: 30px; }
  .align-services {
    border: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%; }
    .align-services:last-child {
      margin-top: 0; }
    .align-services div {
      width: 100%; }
      .align-services div p {
        width: 220px; }
  .small-phone {
    width: 30%; }
  .display img {
    display: none; }
  .accordion {
    width: 90%; }
  .accordion-heading h3 {
    margin: 20px auto; }
  .accordion-heading img {
    width: 30px;
    height: 30px;
    padding: 16px 0 12px 16px; }
  .feedback div {
    flex-direction: column;
    align-items: center; }
    .feedback div img {
      display: none; }
    .feedback div hr {
      display: none; }
    .feedback div p {
      padding: 0;
      text-align: center; }
      .feedback div p span {
        margin-left: 0; }
  .feedback.nobackground div img:nth-child(2) {
    display: block; }
  .feedback.nobackground div p span {
    margin-right: 0; }
  .chat {
    margin-top: 20px; }
  .people-say {
    display: block;
    margin-left: 0;
    margin-top: 0; }
    .people-say div {
      max-width: 100%;
      margin: 30px 0 30px 0; }
      .people-say div hr {
        display: none; }
  .team-photos {
    flex-direction: column;
    align-items: center; }
    .team-photos div {
      width: 90%; }
      .team-photos div img {
        width: 100%; }
  .team-hover-image {
    display: none; }
  .logos {
    height: auto; }
    .logos div {
      justify-content: space-around;
      flex-wrap: wrap; }
  .portfolio {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%; }
    .portfolio .large {
      grid-area: 3/1/span 2/span 1; }
  .events-list {
    flex-direction: column;
    align-items: center; }
  .event {
    max-width: 290px; }
    .event img:first-child {
      width: 100%; }
  .counter {
    display: none; }
  .date {
    top: 105px; }
  footer .container {
    flex-wrap: wrap;
    align-items: center; }
  footer .social-media p {
    font-size: 14px; }
  footer .subscribe input {
    width: 150px;
    padding: 11px 75px 11px 10px; } }
