.scrolling-header {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: rgba(34, 61, 97, 0.64);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
