* {
  margin: 0; }

.container {
  max-width: 1920px;
  margin: auto; }

.title-block {
  text-align: center; }

.title {
  font-family: "Kaushan Script";
  font-size: 24px; }

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  word-spacing: -4px; }

.text {
  margin: 40px 240px 0px 224px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; }

header {
  background: url(../img/bg_image.png);
  height: 1000px;
  color: #ffffff; }
  header nav {
    display: flex;
    padding: 28px 0px 158px 120px; }
    header nav a {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none; }
  header .title {
    font-size: 72px; }
  header .main-title {
    padding: 24px 310px 44px 310px;
    font-size: 150px;
    line-height: 140px;
    letter-spacing: -6px; }
  header .pages {
    margin-left: 446px;
    padding-top: 4px;
    word-spacing: 1px; }
    header .pages a {
      margin-left: 50px; }
  header button {
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 46px; }
  header .slider {
    display: flex;
    justify-content: space-around;
    margin: 148px 94px 0px 102px; }
  header .position {
    margin-top: 14px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    text-transform: uppercase; }
    header .position span {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700; }

.about .title {
  padding-top: 86px;
  padding-bottom: 10px;
  padding-right: 6px; }

.about .main-title {
  padding: 0px 10px 20px 8px; }

.about .pics {
  display: flex;
  justify-content: space-around;
  margin: 96px 106px 0px 100px; }

.about .projects {
  display: flex;
  justify-content: space-around;
  background-color: #95e1d3;
  max-width: 1200px;
  margin: 110px auto 0px; }

.about .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 86px;
  flex-basis: 20%;
  border-right: 1px solid #ffffff; }
  .about .item:first-child {
    border-left: 1px solid #ffffff; }

.about .number {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px; }

.about .text-item {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.about .all {
  background-color: #95e1d3; }

.services {
  padding-bottom: 120px; }
  .services .title {
    padding: 104px 6px 10px 4px; }
  .services .main-title {
    padding: 0px 10px 22px 8px; }
  .services .services-blocks {
    margin-top: 60px;
    width: 1200px;
    margin-left: 120px;
    margin-right: 130px; }
  .services img {
    margin-top: 4px; }
  .services .service-info {
    width: 274px;
    padding-left: 25px; }
  .services .block-one, .services .block-two {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 30px; }
  .services .block-one {
    margin-bottom: 34px; }
  .services .block-two {
    margin-top: 40px; }
  .services .service-type {
    display: flex; }
  .services .block-name {
    margin-bottom: 10px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    text-transform: uppercase; }
  .services .block-text {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }

.design {
  background-image: url(../img/bg-desing.png);
  height: 850px; }
  .design .title {
    padding-top: 104px;
    padding-bottom: 10px; }
  .design .main-title {
    padding-bottom: 23px; }
  .design .ipad {
    margin-left: 452px;
    margin-top: 42px;
    position: relative; }
  .design .iphone {
    position: absolute;
    left: 816px;
    margin-top: 240px; }

.what-we-do {
  padding-bottom: 116px; }
  .what-we-do .title {
    padding-right: 4px;
    padding-bottom: 10px;
    padding-top: 104px; }
  .what-we-do .main-title {
    padding-bottom: 22px; }
  .what-we-do .color-line {
    padding-right: 4px; }
  .what-we-do .work {
    display: flex;
    margin-top: 86px;
    margin-left: 118px; }
  .what-we-do .inputs {
    display: flex;
    flex-direction: column;
    margin-left: 28px; }
    .what-we-do .inputs input {
      width: 600px;
      height: 56px;
      border: 1px solid #e5e5e5;
      background-color: #000000; }

.quotes {
  padding-top: 74px;
  display: flex;
  background-color: #f8f8f8;
  padding-bottom: 68px; }
  .quotes .img-quotes {
    border: 1px solid #95e1d3;
    border: 3px solid #95e1d3;
    padding: 42px 40px 38px 40px;
    margin: 0px 60px 0px 230px; }
    .quotes .img-quotes img {
      text-align: center; }
  .quotes .quote-info {
    display: flex;
    flex-direction: column; }
  .quotes .text-quotes {
    color: #999999;
    font-family: Roboto;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; }
  .quotes .author {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400; }

.team {
  padding-bottom: 112px; }
  .team .title {
    padding: 95px 5px 0px 2px; }
  .team .main-title {
    padding-top: 10px;
    padding-bottom: 24px; }
  .team .persons {
    padding-top: 84px;
    display: flex;
    margin-right: 106px;
    margin-left: 102px;
    justify-content: space-around; }
  .team .person-name {
    text-align: center;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 8px; }
  .team .person-prof {
    text-align: center;
    color: #999999;
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }

.partners {
  background-color: #f8f8f8;
  background-color: #f8f8f8;
  padding-left: 115px;
  padding-top: 50px;
  padding-bottom: 48px; }

.gallery .title {
  padding-top: 105px;
  padding-right: 4px;
  padding-bottom: 10px; }

.gallery .main-title {
  padding-bottom: 22px; }

.gallery .color-line {
  padding-right: 4px; }

.gallery .photos-one {
  width: 25%;
  display: flex;
  flex-direction: column; }

.gallery .gallery-photos {
  margin-top: 96px;
  display: flex; }

.reviews {
  padding-top: 95px;
  display: flex;
  padding-bottom: 125px;
  padding-right: 146px;
  padding-left: 142px; }
  .reviews .img-quotes {
    padding-left: 44px;
    padding-right: 29px;
    padding-top: 6px; }
  .reviews .quote-info {
    display: flex;
    padding-top: 38px;
    padding-right: 48px;
    flex-direction: column; }
  .reviews .text-quotes {
    color: #999999;
    font-family: Roboto;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 6px; }
  .reviews .author {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    display: flex; }
  .reviews .name {
    padding-top: 5px;
    padding-left: 10px; }
  .reviews .arrow {
    display: flex;
    justify-content: center;
    align-items: center; }

.blog {
  background-image: url(../img/Layer_53.png);
  height: 830px;
  width: 100%; }
  .blog .title {
    padding: 104px 5px 10px 0px; }
  .blog .main-title {
    padding-bottom: 24px; }
  .blog .color-line {
    padding-right: 4px; }
  .blog .people-one, .blog .people-two {
    display: flex; }
  .blog .people-one {
    padding-bottom: 66px; }
  .blog .people {
    padding-top: 84px;
    padding-left: 158px;
    padding-right: 82px; }
  .blog .people-say {
    display: flex; }
  .blog .text-people-say {
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-top: 8px;
    padding-right: 68px; }
  .blog .name-people-say {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
  .blog .prof-people-say {
    color: #333333;
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 3px; }
  .blog .review-people-say {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
    padding-left: 2px; }

.stories .title {
  padding-top: 104px;
  padding-bottom: 10px; }

.stories .main-title {
  padding-bottom: 22px; }

.stories .pics {
  display: flex;
  justify-content: space-around;
  margin: 44px 106px 0px 100px; }
