/* Normalize */

* {
  margin: 0;
  padding: 0;
}

*,
*::before, 
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px; 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #3c3c3c;
  overflow-x: hidden;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

section {
  background: #fff;
  padding: 100px 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Typography */

h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 2rem;
}

.title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  font-weight: 700;
}

.title-text {
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
}

.message-text {
  margin-bottom: 2rem;
  line-height: 2.4rem;
  font-size: 16px;
  font-weight: 300;
}

/* Utility */

.centered {
  max-width: 60rem;
  margin: 0 auto;
}

.text_white {
  color: #fff;
}

.text-secondary {
  padding: 0 90px;
  margin-bottom: 0;
}

/* Messages */

.message {
  border: 2px solid #3c3c3c;
  border-top: none;
  max-width: 902px;
  margin: 0 auto;
  position: relative;
  padding: 7rem 17rem 5rem;
}

.message-title {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.message::before,
.message::after {
  content: '';
  display: block;
  width: 24rem;
  height: 2px;
  top: -2px;
  position: absolute;
  background: #3c3c3c;
}

.message::before {
  left: -2px;
}

.message::after {
  right: -2px;
}

.message_white {
  border: 2px solid white;
  border-top: none;
}

.message_white::before,
.message_white::after {
  background: white;
}

/* Hero Section */

.hero {
  height: 100vh;
  background: url('../img/bg_hero.png') no-repeat top / cover;
  padding-top: 35vh;
  position: relative;
}

.header-logo {
  display: block;
  width: 100%;
  position: absolute;
  top: 21.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouse-icon {
  margin-top: 15rem;
}

/* About Us - Services */ 

.about {
  padding: 160px 0;
}

.services {
  padding-top: 130px;
  padding-bottom: 105px;
  background: url('../img/services_bg.png') no-repeat center / cover;
}

.services .message {
  padding-bottom: 4rem;
}

/* What we do - Cards box */

.what-we-do {
  padding: 120px 0;
}

.what-we-do .message {
  padding: 1rem;
} 

.cards-box {
  padding: 100px 160px 60px;
}

.card-element {
  min-height: 250px;
}

.card-element:not(:last-child) {
  margin-bottom: 80px;
}

.card-element img {
  width: 80px;
  margin-top: 12px;
}

.card-title {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3.5px;
  line-height: 2;
  margin: 2rem 0;
  font-weight: 700;
}

.card-describe {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.4rem;
  padding-bottom: 2rem;
}

/* Tile-grid */

.tile-grid {
  padding: 0;
}

.tile-row {
  font-size: 0;
}

.tile-row:first-child {
  margin-bottom: 10px;
}

.tile-item {
  display: inline-block;
  width: 21.5%;
}

.tile-item-md {
  display: inline-block;
  margin: 0 10px;
  width: calc(57% - 20px);
}

.tile-item,
.tile-item-md {
  min-height: 235px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.tile-item:hover,
.tile-item-md:hover {
  opacity: .8;
}

.tile-name {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .9rem;
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}

.item-1 {
  background: url('../img/topworkz.png') no-repeat center center / cover;
}

.item-2 {
  background: url('../img/joint.png') no-repeat center center / cover;
}

.item-3 {
  background: url('../img/market.png') no-repeat center center / cover;
}

.item-4 {
  background: url('../img/worktop.png') no-repeat center center / cover;
}

.item-5 {
  background: url('../img/label.png') no-repeat center center / cover;
}

.item-6 {
  background: url('../img/kyiv.png') no-repeat center center / cover;
}

/* Contact Us */

.contact-us {
  padding: 0;
  padding-top: 140px; 
}

.contact-btn {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 20px;
  padding: 10px 150px;
  color: #fff;
  border: none;
  line-height: 3.8rem;
  background-color: rgb(60, 60, 60);
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  outline: none;
}

.contact-btn:hover {
  background: rgba(60, 60, 60, .8);
  -webkit-transform: translateY(-.3rem);
      -ms-transform: translateY(-.3rem);
          transform: translateY(-.3rem);
  -webkit-box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .7);
          box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .7);
}

.contact-btn:active {
  -webkit-transform: translateY(-.1rem);
      -ms-transform: translateY(-.1rem);
          transform: translateY(-.1rem);
}

/* Footer */

.footer {
  padding: 6rem 0;
  min-height: 3.5rem;
}

.copy {
  display: inline-block;
  line-height: 3.5rem;
  font-size: 14px;
  font-weight: 400;
  vertical-align: bottom;
}

.copy-logo {
  vertical-align: bottom;
  margin-right: 3rem;
}

/* Media Queries */

@media only screen and (max-width: 900px) {
  html {
    font-size: 8px; 
  }

  .mouse-icon {
    margin-top: 20rem;
  }

  .item-1 > .tile-name,
  .item-4 > .tile-name {
    left: 1rem;
  }
}

@media only screen and (max-width: 764px) {
  .message {
    padding: 5rem;
    width: 90%;
  }

  .what-we-do .message {
    padding: 10rem;
  }

  .message::before,
  .message::after {
    width: 15rem;
  }

  .tile-row:first-child {
    margin: 0;
  }

  .tile-item,
  .tile-item-md {
    width: calc(100% - 2rem);
    margin: .5rem;
  }

  .item-1 > .tile-name,
  .item-4 > .tile-name {
    left: 3rem;
  }

  .tile-item-md > .tile-name {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .item-3 > .tile-name,
  .item-6 > .tile-name {
    left: auto;
    right: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .message::before,
  .message::after {
    width: 14rem;
  }
}

@media only screen and (max-width: 575px) {
  .hero {
    height: 55vh;
    padding-top: 22rem;
    background: url('../img/bg_hero-small.png') no-repeat top / cover;
  }

  .header-logo {
    top: 10%;
  }

  .mouse-icon {
    display: none;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
  }

  .message::before,
  .message::after {
    width: 8rem;
  }

  .contact-btn {
    padding: 1rem 10rem;
  }

  .message-text {
    margin-bottom: 2.5rem;
  }

  .text-secondary {
    padding: 0;
  }
}

@media only screen and (max-width: 440px) {
  .message::before,
  .message::after {
    width: 3.5rem;
  }

  .message {
    border: none;
    padding: 5rem 0;
  }

  .what-we-do .message {
    padding: 10rem 0;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 36.75%;
  }

  .message-title {
    top: -1rem;
  }
}

/* Animate.CSS */

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
