* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header h6 {
  width: 100%;
  font-size: 10px;
  background-color: #d9e1e6;
  color: #919a9e;
  text-align: center;
  padding: 8px 10%;
  margin-bottom: 10px;
}

.close {
  margin: -35px 10% 0 0;
  float: right;
  color: #919a9e;
}

.cart:hover {
  background: #ded3aa;
}

nav {
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  margin-top: 25px;
  width: 80%;
  margin-bottom: 25px;
}

.nav-container {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin-bottom: 55px;
}

nav a {
  padding: 22px;
  color: grey;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.menu,
.like-and-search {
  width: 6%;
}

.head-container {
  padding: 20px 10%;
  justify-content: space-between;
  display: flex;
  font-size: 12px;
  flex-direction: row;
  align-items: center;
}

.language {
  font-size: 12px;
  padding-left: 5px;
}

.language img {
  padding-right: 10px;
}

.fa-caret-down {
  margin-left: 10px;
}

.logo {
  margin: 0 auto;
  width: auto;
  padding-left: 5%;
  height: 100%;
  justify-content: center;
}

.cart {
  text-align: center;
  justify-content: end;
  font-size: 12px;
  padding: 12px 38px;
  border: 2px solid #ded3aa;
}

.menu {
  margin: 0px 0 0 8px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10%;
  justify-content: space-between;
}

.pic-holder {
  flex-flow: column wrap;
  flex-basis: 58%;
  width: 100%;
}

p.last span {
  font-weight: 100;
  font-size: 14px;
  color: #555555;
}

.goodie-info {
  flex-basis: 40%;
  padding-top: 15px;
}

.big {
  margin-bottom: 10px;
}
.big img,
.goodie-items img {
  width: 100%;
}

.goodie-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.goodie-items > div {
  margin-top: 10px;
  width: 22%;
  height: 200px;
}

.share {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 15px 0;
  font-size: 12px;
}

.space-btw {
  justify-content: space-between;
}

.goodie-info span a {
  font-size: 14px;
  color: #68899a;
  margin-bottom: 20px;
}

span a {
  text-decoration: none;
}

h3 {
  padding-top: 35px;
  font-size: 24px;
  margin-bottom: 15px;
}

.fas.fa-star {
  color: #ded3aa;
  font-size: 14px;
}

i.fas.fa-star.last {
  color: #919a9e;
}

i.fas.fa-star.last:hover {
  color: #ded3aa;
}

span.price {
  color: #68899a;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.details {
  padding-top: 12px;
  margin-left: -5px;
  line-height: 15px;
  font-size: 15px;
}

a.review {
  font-size: 12px;
  color: black;
  border-bottom-color: black;
}

.details p span {
  color: #68899a;
  font-weight: 100;
}

.goodie-info p {
  font-weight: bold;
  padding: 5px;
}

.filter-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.description {
  color: #555555;
  line-height: 1.5;
  font-size: 14px;
  padding-top: 20px;
}

.description ul li {
  margin-top: 20px;
  line-height: 10px;
}

ul li {
  margin-left: 20px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.select {
  background-color: transparent;
  font-size: 14px;
  height: 30px;
  width: 100px;
  border-radius: 0;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

a.clear-selected {
  margin: 35px 0 0 0;
  display: block;
  font-size: 12px;
  color: black;
  border-bottom-color: black;
}

.add-2-cart,
.add-2-wishlist {
  width: 220px;
  padding: 20px;
  margin-top: 45px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  background-color: transparent;
}

.add-2-cart {
  color: white;
  background-color: black;
}

footer {
  text-align: center;
  margin-top: 5%;
  border-top: 1px solid #919a9e;
  color: #919a9e;
  padding: 10px 5px;
}
