extends _layout/layout.pug

block content
  include _includes/header.pug
  main.container
    include _includes/main/hero.pug
    include _includes/main/social.pug
    include _includes/main/features.pug
    include _includes/main/about.pug
    include _includes/main/pricing.pug
    include _includes/main/reviews.pug
    include _includes/main/custom.pug
    include _includes/main/contact.pug
  include _includes/footer.pug
  script
    include script.js
