.clients {
  padding-bottom: 12rem;
  background-image: $gradient-white, $bg-clients;
  @include bg-center(fixed);

  &__reviews {
    @include d-flex();
    margin-top: 87px;

    .col-1 {
      .client:first-child {
        padding-bottom: 7rem;
      }
    }
    
    .client {
      @include clearfix;
      
      & > img {
        float: left;
        margin-left: 42px;
      }

      &__info {
        float: left;
        max-width: 380px;
        margin-top: 12px;
        margin-left: 30px;

        & > p {
          padding-top: 2.4rem;
        }
      }

      &__name {
        font-weight: 400;
        text-transform: uppercase;
      }

      .specialization {
        position: relative;
        padding: 1.7rem 0;
        @include p-el(after, 60px, 3px, $color-main) {
          bottom: 0;
        }
      }
    }
  }
}

