.clients {
  padding: $padding-clients;
  background-image: $gradient-white, $bg-clients;
  @include bg-center(fixed);

  &__reviews {
    
    .client {
      margin-bottom: 66px;
      @include clearfix;
      &:not(:last-child) {
        margin-right: 1%;
      }
      
      & > img {
        float: left;
        margin-left: 40px;
      }

      &__info {
        float: left;
        max-width: 380px;
        margin-top: 7px;
        margin-left: 28px;

        & > p {
          padding-top: 2rem;
          padding-left: .4rem;
        }
      }

      &__name {
        font-weight: 400;
        text-transform: uppercase;
      }

      .specialization {
        position: relative;
        padding: .7rem 0 1.5rem;
        @include p-el(after, 60px, 3px, $color-main) {
          bottom: 0;
        }
      }
    }
  }
}

