// Feature, Service2
.feature {
  min-height: 60.7em;
  padding-top: 2rem;
  position: relative;
  background-image: $gradient-white, $bg-feature;
  @include bg-center();

  &__image {
    position: absolute;
    left: 52.7%;
    bottom: 0;
    transform: translate(-50%, 13.5%);
    @media screen and (max-width: $screen-xl) {
      left: 50%;
    }
  }
}

.service2 {
  padding: $padding-service2;
}
