// Feature
.feature {
  min-height: 60.7em;
  padding-top: 2rem;
  position: relative;
  background-image: $gradient-white, $bg-feature;
  @include bg-center();

  &__image {
    position: absolute;
    left: 52.7%;
    bottom: 0;
    transform: translate(-50%, 13.5%);
    @media screen and (max-width: $screen-xl) {
      left: 50%;
    }
  }
}
// Service2 & Quote
.service2 {
  padding: $padding-service2;

  img {
    margin: 0 auto;
  }
}

.quote {
  background-color: $color-light-1;

  & &__slide {
    padding: $padding-quote;
    flex-grow: 1;

    & > figure {
      width: 150px;
      height: 150px;
      border: 3px solid $color-alt;
      position: relative;
    }
    
    img {
      @include abs-center;
    }
  }
}
