.banner {
  background-color: $color-main;
  background-image: $gradient-main, $bg-banner;
  @include bg-center(fixed);
}

.section-tab {
  @include d-flex();
  text-transform: uppercase;

  & > li {
    width: 22.5%;
    border-top: 3px solid $color-white;
    position: relative;
    opacity: .7;
    transition: .3s;
    @include p-el(before, 60px, 3px, $color-main) {
      position: absolute;
      top: -3px;
      left: 0;
      opacity: 0;
      transition: .3s;
    }

    &:hover,
    &:focus {
      opacity: 1;

      &::before {
        opacity: 1;
      }
    }

    & > a {
      display: block;
      line-height: 7rem;
      font-size: 1.8rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;  
    }

    span {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}
