.banner {
  background-image: $gradient-main, $bg-banner;
  @include bg-center(fixed);
}

.header {

  &__nav {
    min-height: 50px;
    @include d-flex() {
      align-items: flex-end;
    }
  }

  &__menu {
    width: 620px;
    @include d-flex();
    text-transform: uppercase;
  }
}

.icon {
  display: block;
  width: 18px;
  height: 18px;

  &__shoping {
    @include icon-bg($icon-shoping_cart);
  }
  
  &__glass {
    @include icon-bg($icon-magnifying_glass);
  }
}

.slider {
  @include d-flex();
  text-transform: uppercase;

  & > li {
    width: 22.5%;
    border-top: 3px solid $color-white;
    opacity: .7;

    & > a {
      display: block;
      line-height: 7rem;
      font-size: 1.8rem;
    }

    span {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}

.welcome-heading {
  margin-bottom: 154px;
}
