.banner {
  background-color: $color-main;
  background-image: $gradient-main, $bg-banner;
  @include bg-center(fixed);
}

.header {

  &__nav {
    min-height: 4.26em;
    @include d-flex() {
      align-items: flex-end;
    }
  }

  &__menu {
    font-weight: 700;
    text-transform: uppercase;
    @include d-flex() {
      flex-basis: 44.286em;
    }

    & > li {
      display: inline-block;
      vertical-align: middle;
      line-height: 3.2rem;
    }

    & > li:hover,
    & > li:focus {
      border-bottom: 3px solid $color-second;

      a {
        color: $color-second;
      }
    }
  }

  .menu-opener {
    display: none;
  }
}

.welcome-heading {
  margin-top: 10.75em;
  margin-bottom: 11em;
}

.icon {
  display: block;
  width: 18px;
  height: 18px;

  &__shoping {
    @include icon-bg($icon-shoping_cart);
  }
  
  &__glass {
    @include icon-bg($icon-magnifying_glass);
  }
}

.slider {
  @include d-flex();
  text-transform: uppercase;

  & > li {
    width: 22.5%;
    border-top: 3px solid $color-white;
    position: relative;
    opacity: .7;
    transition: .3s;
    @include p-el(before, 60px, 3px, $color-main) {
      position: absolute;
      top: -3px;
      left: 0;
      opacity: 0;
      transition: .3s;
    }

    &:hover,
    &:focus {
      opacity: 1;

      &::before {
        opacity: 1;
      }
    }

    & > a {
      display: block;
      line-height: 7rem;
      font-size: 1.8rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;  
    }

    span {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}
