// Team
.team {
  padding: $padding-team;

  &__share {
    width: 100%;
    opacity: 0;
    z-index: 1;
    @include abs-center;

    & > a {
      width: 2.333em;
      background-color: $color-second;
      color: $color-main;
      font-size: 2.4rem;
      line-height: 5.6rem;
      text-align: center;
      transition: all .4s ease;

      &:not(:last-child) {
        border-right: 1px solid $color-main; 
      }

      &:hover,
      &:focus {
        background-color: $color-main;
        color: $color-white;
      }
    }
  }

  &__members {
    text-align: center;

    .info {
      margin-top: 2em;
    }

    .overlay-box:hover > .team__share,
    .overlay-box:focus > .team__share {
      opacity: 1;
    }
  }
}
// Compamies
.companies {
  background-color: $color-light-1;
  min-height: 17.857em;
  
  &__list {
    padding: 5rem;
    @include d-flex() {
      align-items: center;
    }
    @media screen and (max-width: $screen-md) {
      flex-wrap: wrap;
    }

    img {
      transition: all .4s ease;
    }

    li {
      flex-basis: 50%;
      text-align: center;
    }

    li:hover img,
    li:focus img {
      transform: scale(1.1);
    }
  }
}
