* {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  .container {
     max-width: 1440px;
     margin: auto;
  }
  
  .title-block {
      text-align: center;
   }
  
  .title {
      font-family: "Kaushan Script";
      font-size: 24px;
      padding-top: 160px;
  }

  .main-title {
      font-family: $mainFont;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 30px;
      word-spacing: -4px;
  }
  
  .text {
      margin: 40px 240px 0px 224px;
      color: $textColor;
      font-family: $textFont;
      font-size: 15px;
      line-height: 24px;    
  }

  .image {
    position: relative;
    transition: .3s;
    
    &:hover {
        box-shadow: 10px 10px $bgColor;
        transition: .3s;
        transform: translate(-10px, -12px);
    }
    
    &:hover .invisible {
      opacity: 1;
      transition: 0.3s;
    }

     .big {
      width: 100%;
    }
  }

  .invisible {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     .hidden-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
     .small {
      color: $mainColor;
      font-family: $mainFont;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 11px;
    }
  }
  
  header {
      background: url(../img/bg-5.png) no-repeat top center;
      background-size: cover;
      height: 1000px;
      color: $mainColor;
  
      nav {
        display: flex;
        padding: 28px 0px 158px 120px; 
        max-width: 1440px;
        padding-right: 102px;
        margin: auto;
        position: fixed;
    
        a {
        color: $mainColor;
        font-family: $mainFont;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
    
        &:hover {
          color: #fce38a; 
          border-bottom: 2px solid #fce38a;
          padding-bottom: 12px;
            }
          }
        }
    
        .fixed-header  {
          background-color: rgba(232, 131, 130, 0.8);
          border: none;
          position: fixed;
          padding-bottom: 30px;
          padding-right: 134px;
          z-index: 2;
      }
  
      .title {
          font-size: 72px;
       }
  
      .main-title {
          padding: 24px 310px 44px 310px;
          font-size: 8vw;
          line-height: 140px;
          letter-spacing: -6px;
      }
  
      .pages {
          display: flex;
          margin-left: 446px;
          padding-top: 4px;
          word-spacing: 1px;
          a {
              margin-left: 50px;
          }
      }
     
      .learn {
      width: 160px;
      padding: 10px;
      margin: auto;
      border: 3px solid $mainColor;
      color: $mainColor;
      font-family: $mainFont;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 46px;
      }
  
      .slider {
      display: flex;
      justify-content: space-around;
      margin: 148px 94px 0px 102px;
      }
  
      .position {
      margin-top: 14px;
      color: $mainColor;
      font-family: $mainFont;
      font-size: 18px;
      text-transform: uppercase;
      span {
          font-family: $mainFont;
          font-size: 24px;
          font-weight: 700;
         }
      }
  }
  
  .about {

      .title {
          padding: 86px 6px 10px 0px;
      }

      .main-title {
          padding: 0px 10px 20px 8px;
      }
     
      .pics {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 96px 106px 0px 100px;
      }
 
      .projects {   
          display: flex;
          justify-content: space-around;
          background-color: $bgColor;
          max-width: 1200px;
          margin: 110px auto 0px;
      }
  
      .item {
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-top: 70px;
          padding-bottom: 86px;
          flex-basis: 20%;
          border-right: 1px solid $mainColor;
          &:first-child {
              border-left: 1px solid $mainColor;
          }
      }
      
      .number {
          color: $mainColor;
          font-family: $mainFont;
          font-size: 72px;
          font-weight: 700;
          text-transform: uppercase;
          padding-bottom: 8px;
      }
  
      .text-item {
          color: $mainColor;
          font-family: $mainFont;
          font-size: 14px;
          text-transform: uppercase;
      }
  
      .all {
          background-color:$bgColor;
      }
         
  }
  
  .services {
      padding-bottom: 120px;
  
      .title {
          padding: 104px 6px 10px 4px;
      }
  
      .main-title {
          padding: 0px 10px 22px 8px;
      }
  
      .services-blocks {
          margin: 60px 130px 0px 120px;
      }
      
      img {
          margin-top: 4px;
      }
  
      .service-info {
          width: 274px;
          padding-left: 25px;
      }
  
      .block-one, .block-two {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-right: 40px;
          margin-left: 30px;
      }
  
      .block-one {
          margin-bottom: 34px;
      }
  
      .block-two {
          margin-top: 40px;
      }
  
      .service-type {
          display: flex;
      }
      
      .block-name {
          margin-bottom: 10px;
          color: $titleColor;
          font-family: $mainFont;
          font-size: 14px;
          text-transform: uppercase;
      }
  
      .block-text {
          color: $textColor;
          font-family: $textFont;
          font-size: 15px;
          line-height: 24px;
      }
  }
  
  .design {
      background: url(../img/bg-2.png) no-repeat top center;
      background-size: cover;
      height: 850px;
  
      .title {
          padding-top: 104px;
          padding-bottom: 10px;
      }
  
      .main-title {
          padding-bottom: 23px;
      }
  
      .ipad {
          margin-left: 452px;
          margin-top: 42px;
          position: relative;
      }
  
      .iphone {
          position: absolute;
          left: 816px;
          margin-top: 240px;
      }
  
  }
  
  .what-we-do {
      padding-bottom: 116px;
  
      .title {
          padding: 104px 4px 10px 0px;
      }
  
      .main-title {
          padding-bottom: 22px;
      }
  
      .color-line {
          padding-right: 4px;
      }
  
      .work {
          display: flex;
          margin-top: 86px;
          margin-left: 118px;
      }
  
      .inputs {
          display: flex;
          flex-direction: column;
          margin-left: 28px;
          margin-right: 50px;
  
          input {
              width: 600px;
              height: 56px;
              border: 1px solid #e5e5e5;
          }

          input::-webkit-input-placeholder {
            color: $titleColor;
            font-family: $mainFont;
            font-size: 14px;
            text-transform: uppercase;
            padding-left: 60px;
        }
        .input-wrapper-1, .input-wrapper-2, .input-wrapper-3, {
            position: relative;
        }
        .input-wrapper-1::before {
            content: '';
            padding-top: 10p;
            position: absolute;
            width: 52px;
            height: 49px;
            background-image: url(../img/PICTURE-1.png);
            background-position-x: 14px;
            background-position-y: 12px;
            background-repeat: no-repeat; 
        }

       .input-wrapper-2::before {
            content: '';
            padding-top: 10p;
            position: absolute;
            width: 52px;
            height: 49px;
            background-image: url(../img/EQUALIZER-2.png);
            background-position-x: 14px;
            background-position-y: 12px;
            background-repeat: no-repeat; 
        }
        .input-wrapper-3::before {
            content: '';
            padding-top: 10p;
            position: absolute;
            width: 52px;
            height: 49px;
            background-image: url(../img/BULLSEYE-3.png);
            background-position-x: 14px;
            background-position-y: 12px;
            background-repeat: no-repeat; 
        }     
    }
}
  
  .quotes {
      padding-top: 74px;
      display: flex;
      background-color: #f8f8f8;
      padding: 46px 146px 68px 142px;

      
      .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
      .img-quotes {
          border: 1px solid $bgColor;
          border: 3px solid $bgColor;
          padding: 42px 40px 38px 40px;
          margin: 0px 60px 0px 78px;
          img {
              text-align: center;
          }
      }
  
      .quote-info {
          display: flex;
          flex-direction: column;
      }
  
      .text-quotes {
          color: $textColor;
          font-family: $textFont;
          font-style: italic;
          font-size: 24px;
          line-height: 36px;
      }
      .author { 
          color: $titleColor;
          font-family: "Kaushan Script";
          font-size: 24px;
      }
     
  }
  
  .team {
      padding-bottom: 112px;
      .title {
         padding: 95px 5px 0px 2px;
      }
  
      .main-title {
          padding-top: 10px;
          padding-bottom: 24px;
      }
      
      .persons {
          padding-top: 84px;
          display: flex;
          flex-wrap: wrap;
          margin-right: 106px;
          margin-left: 102px;
          justify-content: space-around;
      }
  
      .person-name {
          text-align: center;
          color: $titleColor;
          font-family: $mainFont;
          font-size: 14px;
          text-transform: uppercase;
          padding-top: 22px;
          padding-bottom: 8px;
      }
  
      .person-prof {
          text-align: center;
          color: $textColor;
          font-family: $textFont;
          font-style: italic;
          font-size: 15px;
          line-height: 24px;
      }
  }
  
  .partners {
      background-color: #f8f8f8;
      background-color: #f8f8f8;
      padding: 50px 0px 48px 115px;
  }
  
  .gallery {
      .title {
          padding: 105px 4px 10px 0px;
      }
  
      .main-title {
          padding-bottom: 22px;
      }
  
      .color-line {
          padding-right: 4px;
      }
  
      .photos-one {
          width: 25%;
          display: flex;
          flex-direction: column;
      }
  
      .gallery-photos {
          margin-top: 96px;
          display: flex;
      }
  }
  
  .reviews {
      padding: 95px 146px 124px 142px;
      display: flex;
  
       .img-quotes {
      padding: 6px 29px 0px 44px;
    }
  
      .quote-info {
          display: flex;
          padding-top: 38px;
          padding-right: 48px;
          flex-direction: column;
      }
  
      .text-quotes {
          color: $textColor;
          font-family: $textFont;
          font-style: italic;
          font-size: 24px;
          line-height: 36px;
          padding-bottom: 6px;
      }

      .author { 
          color: $titleColor;
          font-family: "Kaushan Script";
          font-size: 24px;
          display: flex;
      }
  
      .name {
          padding-top: 5px;
          padding-left: 10px;
      }
  
      .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      }  
  }
  
  .blog {
      background: url(../img/bg-3.png) no-repeat top center;
      background-size: cover;
      height: 830px;
      width: 100%;
  
      .title {
      padding: 104px 5px 10px 0px;
      }
  
      .main-title {
          padding-bottom: 24px;
      }
  
      .color-line {
          padding-right: 4px;
      }
  
      .people-one, .people-two {
          display: flex;
      }
  
      .people-one {
          padding-bottom: 66px;
      }
  
      .people {
          padding: 84px 82px 0px 158px;
      
      }
  
      .people-say {
          display: flex;
      }
  
      .text-people-say {
          display: flex;
          flex-direction: column;
          padding: 8px 68px 0px 28px;
      }
  
      .name-people-say {
          color: $titleColor;
          font-family: $mainFont;
          font-size: 14px;
          text-transform: uppercase;
      }
  
      .prof-people-say {
          color: $titleColor;
          font-family: $textFont;
          font-style: italic;
          font-size: 15px;
          line-height: 24px;
          padding-top: 5px;
          padding-bottom: 3px;
      }
  
      .review-people-say {
          color: $textColor;
          font-family: Roboto;
          font-size: 15px;
          line-height: 24px;
          padding-top: 15px;
          padding-left: 2px;
      }
  }
  
  .stories {
      padding-bottom: 110px;

      .title {
          padding-top: 104px; 
          padding-bottom: 10px;
      }
  
      .main-title {
          padding-bottom: 22px;
      }
  
      .pics {
          display: flex;
          justify-content: space-around;
          margin: 44px 106px 0px 100px;
      }
  
       
         .pic-date {
            width: 54px;
            height: 60px;
            background: $bgColor;
            position: absolute;
            bottom: 163px;
            left: -11px;
            padding: 4px;
            font-family: Roboto;
        }
         span {
          display: block; 
          color: $mainColor;
          width: fit-content;
          margin: 0 auto;
        }
         .date-num {
          font-size: 30px;
          font-weight: 700;
        }
         .month {
          font-family: $textFont;
          font-size: 15px;
         }
         
      .pic-title {
          color: $titleColor;
          font-family: $mainFont;
          font-size: 14px;
          text-transform: uppercase;
          padding-top: 16px;
          padding-bottom: 10px;
      }
  
      .pic-text {
          color: $textColor;
          font-family: $textFont;
          font-size: 15px;
          line-height: 24px;
      }
      
      .pic-item {
          display: flex;
          flex-direction: column;
          margin-left: 16px;
          margin-right: 15px;
          position: relative;
      }
  
      .seen {
          display: flex;
          color: $textColor;
          font-family: $textFont;
          font-style: italic;
          font-size: 15px;
          line-height: 24px;
          justify-content: space-around;
          margin-left: 10;
          max-width: 110px;
      }
  
      .pic-line {
          padding-top: 4px;
          padding-bottom: 11px;
      }
  }
  
  .map {
      background: url(../img/bg-4.png) no-repeat top center;
      background-size: cover;
      display: flex;
      justify-content: center;
      text-align: center;

      .map-text {
          color: $colorDecor;
          font-family: $mainFont;
          font-size: 24px;
          font-weight: 700;
           text-transform: uppercase;
           padding-top: 10px;
           padding-bottom: 4px;
      }
  
      .map-info {
          padding-top: 58px;
          padding-bottom: 52px;
      }
  }
  
  footer {
      margin-top: 74px;
      display: flex;
      flex-direction: column;
      padding-left: 116px;
      padding-right: 122px;
      
      .blocks {
          display: flex;
      } 

      .block-one, .block-two, .block-three {
          display: flex;
          flex-direction: column;
      }

      .block-one {
          margin-right: 48px;
      }

      .title-blog{
          color: $titleColor;
          font-family: $mainFont;
          font-size: 14px;
          text-transform: uppercase;
          padding-bottom: 38px;
      }
  
      .footer-text {
          color: $textColor;
          font-family: $textFont;
          font-size: 15px;
          line-height: 24px;
          padding-top: 32px;
          word-spacing: 1px;
          padding-left: 2px;
          padding-bottom: 42px;
      }
  
      .inputs {
          display: flex;
      }
  
      button {
          width: 150px;
          height: 40px;
          background-color: $bgColor;
          color: $mainColor;
          font-family: $mainFont;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
      }

      input {
          width: 230px;
          height: 36px;
          border: 1px solid $mainColor;
          background-color: $mainColor;
      }
  
      input::-webkit-input-placeholder {
          color: #cccccc;
          font-family: $textFont;
          font-style: italic;
          font-size: 15px;
          line-height: 24px;
          padding-left: 10px;
      }
  
      .blog-item {
          display: flex;
      }
  
      .blog-info {
          display: flex;
          flex-direction: column;
          padding-top: 18px;
      }
  
      .title-item {
        width: 200px;
        color: $titleColor;
        font-family: $mainFont;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
      }
  
      .date {
        color: $textColor;
        font-family: $textFont;
        font-style: italic;
        font-size: 13px;
        line-height: 24px;
      }
  
      .blog-photo {
          margin-bottom: 28px;
          margin-right: 20px;
      }
  
      .insta {
        display: flex;
        flex-direction: column;

        img {
            margin: 1px;
        }
      }
  
      .block-insta {
         display: flex;
      }
  
      .block-two {
          margin-right: 80px;
      }
  
      .followers {
          font-family: $mainFont;
          font-size: 14px;
          padding-bottom: 15px;

      span {
         font-size: 18px;
         font-weight: 700;
        }
      }
  
      .follow {
          display: flex;
          padding-top: 13px;
          padding-left: 2px;
          padding-bottom: 32px;
          color: $textColor;
          font-family: $textFont;
          font-style: italic;
          font-size: 15px;
          line-height: 24px;
      }
  
      .icons {
           display: flex;
           padding-top: 2px;
           margin-left: 6px; 

           img {
              margin-left: 15px;
           }
      }
      
      .created {
        padding-top: 16px;
        color: $titleColor;
        font-family: $mainFont;
        font-size: 14px;

        span {
            color: $colorDecor;
        }
      }

      .footer-info {
        padding-top: 24px;
        text-align: center;
      }
  }