.slider {
  background-color: #f8f8f8;

  &_container {
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: flex-start;
    padding-left: 210px;
    padding-top: 62px;
    padding-bottom: 60px;

    &_content {
      margin-left: 50px;
      width: 70%;
      margin-top: 6px;

      i {
        color: #999999;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        line-height: 36px;
        padding-left: 13px;
      }

      &_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 16px;
        margin-left: 10px;

        .divider {
          width: 60px;
          border: 1px solid #f38181;
          margin-right: 15px;
        }

        p {
          color: #333333;
          font-family: 'Kaushan Script', cursive;
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    display: none;
  }
}