.slider_second {
  background-color: #f8f8f8;
  display: flex;

  &_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 98px 0px 126px 0px;
    width: 100%;

    &_main {
      width: 80%;
      overflow: hidden;
    }

    .all_slides {
      width: 300%;
      display: flex;
      transition: .3s;
    }

    .slide {
      display: flex;
      align-items: center;
      width: 80%;
    }

    &_arrow_left {
      margin-left: 120px;

      .fas {
        font-size: 32px;
        color: #999;
        cursor: pointer;
      }
    }
    &_arrow_right {

      .fas {
        font-size: 32px;
        color: #999;
        cursor: pointer;
      }
    }

    &_image {
      margin-left: 44px;
    }

    &_content {
      margin-top: 7px;
      width: 70%;
      margin-left: 30px;

      i {
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        line-height: 36px;
      }

      &_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 11px;

        .divider {
          width: 60px;
          border: 1px solid #f38181;
          margin-right: 10px;
        }

        p {
          color: #333333;
          font-family: 'Kaushan Script', cursive;
          font-size: 23px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider_second {
    display: none;
  }
}
