.slider {
  background-color: #f8f8f8; 
  display: flex;

  &_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 62px 0px 63px 0px;
    width: 100%;

    &_main {
      width: 80%;
      overflow: hidden;
    }

    .all_slides {
      width: 300%;
      display: flex;
      transition: .3s;
    }

    .slide {
      display: flex;
      align-items: center;
      width: 80%;
    }

    &_arrow_left {
      margin-left: 120px;

      .fas {
        font-size: 32px;
        color: #999;
        cursor: pointer;
      }
    }

    &_arrow_right {
      margin-left: 5px;

      .fas {
        font-size: 32px;
        color: #999;
        cursor: pointer;
      }
    }

    &_image {
      margin-left: 75px;
      margin-top: 5px;
    }

    &_content {
      margin-left: 48px;
      width: 70%;
      margin-top: 6px;

      i {
        color: #999999;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        line-height: 36px;
        padding-left: 13px;
      }

      &_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 16px;
        margin-left: 10px;

        .divider {
          width: 60px;
          border: 1px solid #f38181;
          margin-right: 15px;
        }

        p {
          color: #333333;
          font-family: 'Kaushan Script', cursive;
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    display: none;
  }
}
