$lightred: #f38181;
$lightblue: #95e1d3;
$lightyellow: #fce38a;
$white: #ffffff;
$gray: #ccc;
$black: #333333;

$montserrat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', sans-serif;
$roboto: 'Roboto', sans-serif;