.we-do-kau-title-all{
  margin-top: 3%;
}
.we-do-title-all{
  margin-top: 1.5%;
}
.we-do-line-all{
  margin-top: 3.1%;
}
.we-do-text-all{
  margin-top: 3.5%;
}
.we-do-bottom{
  width: 100%;
  margin: 7.34% 0 9.7%;
  display: flex;
  justify-content: space-between;
}
.bottom-left{
  width: 47.4%;
  animation: opacityBorn 2s;
}
.hide{
  display: none;
}
@keyframes opacityBorn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bottom-right{
  width: 50.1%;
  display: flex;
  flex-direction: column;
}
.chapter-box{
  width: 100%;
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chapter-img{
  transition-duration: .2s;
}
.chapter-img:hover{
  transform: scale(1.2);
}
.chapter-arrow{
  transition-duration: .2s;
}
.rotate-arrow{
  transform: rotate(180deg);
}
.chapter-top{
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.chapter-name{
  width: 87%;
  margin: 4% 0 4%;
  color: $black;
  font-family: $montserrat;
  font-size: 14px;
  text-transform: uppercase;
}
.chapter-text-box{
  height: 160px;
  padding: 2% 5%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  transition: .5s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.display-none{
  transition: .5s;
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: $lightblue;
  border-radius: 3px;
}

