.we-do-kau-title-all{
  margin-top: 3%;
}
.we-do-title-all{
  margin-top: 1.5%;
}
.we-do-line-all{
  margin-top: 3.1%;
}
.we-do-text-all{
  margin-top: 3.5%;
}
.we-do-bottom{
  width: 100%;
  margin: 7.34% 0 9.7%;
  display: flex;
  justify-content: space-between;
}
.bottom-left{
  width: 47.4%;
}
.bottom-right{
  width: 50.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chapter-box{
  width: 100%;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chapter-img{
  transition-duration: .2s;
}
.chapter-img:hover{
  transform: scale(1.2);
}
.chapter-arrow{
  transition-duration: .2s;
}
.chapter-arrow:hover{
  transform: scale(1.4);
}
.chapter-top{
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chapter-name{
  width: 87%;
  margin: 4% 0 4%;
  color: $black;
  font-family: $montserrat;
  font-size: 14px;
  text-transform: uppercase;
}
.chapter-text-box{
  padding: 2% 5%;
  border: 1px solid #e5e5e5;
  color: #999999;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
}