@import './reset';
@import './veriables';
@import './header';
@import './about';
@import './facts';
@import './feauture';
@import './we-do';
@import './quote';
@import './our-team';
@import './logos';
@import './work';
@import './testimonial';
@import './people';
@import './blog';
@import './map';
@import './footer';
@import './media';
