.form-contact {
    &--submitted {
        padding: 2rem 0.7rem;
        display: none;
        font-size: 2rem;
        text-align: center;
        color: $color-main-light;
    }

    &__inputs {
        display: grid;
        grid-template: 1fr/ 1fr 1fr;
        column-gap: 5%;

        @include respond(tablet-port) {
            display: block;
        }
    }

    &__data-inputs {
        flex-direction: column;
        @include flex;
    }

    &__message-input {
        flex-direction: column;
        @include flex($justify: flex-end);

        & textarea {
            resize: none;
        }
    }

    &__btn {
        margin-top: 2%;
    }
}
