.btn {

  &-outline {
    @extend %button;
    border: 3px solid $color-white;
    background: transparent;
    padding: 1rem 3rem;
    transition: all .4s ease;

    &:hover,
    &:focus {
      background: rgba($color-white, .5);
      color: $color-main;
      border-color: $color-main; 
    }
  }

  &-submit {
    @extend %button;
    background: $color-alt;
    border: none;
    padding: 1.1rem 3.2rem;
    width: 150px;
  }

  &-slide.prev,
  &-slide.next {
    display: block; 
    position: relative;
    width: 5%;
    min-height: 290px;
    cursor: pointer;
    @include icon-bg($icon-arrow);
  }
  
  &-slide.next {
    transform: rotate(180deg);
  }
}
