// Utility classes
// margin-top
.mt {
  
  &-90 {
    margin-top: 90px;
  }
  
  &-lg {
    margin-top: 50px;
  }

  &-md {
    margin-top: 30px;
  }
}
// margin-bottom
.mb {
  
  &-90 {
    margin-bottom: 90px;
  }
  
  &-lg {
    margin-bottom: 50px;
  }

  &-md {
    margin-bottom: 30px;
  }
}


