// Utility classes
// margin-top
.mt {
  
  &-xl {
    margin-top: 90px;
  }
  
  &-lg {
    margin-top: 45px;
  }

  &-md {
    margin-top: 30px;
  }
}
// margin-bottom
.mb {
  
  &-xl {
    margin-top: 90px;
  }
  
  &-lg {
    margin-top: 45px;
  }

  &-md {
    margin-top: 30px;
  }
}


