@mixin flex($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

@mixin padding-default-big {
    padding-top: 10rem;
    padding-bottom: 10rem;

    @include respond(tablet) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    @include respond(phone) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@mixin padding-default-middle {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include respond(tablet) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @include respond(phone) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@mixin padding-default-top {
    padding-top: 10rem;

    @include respond(tablet) {
        padding-top: 7rem;
    }

    @include respond(phone) {
        padding-top: 4rem;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 500px) {
            @content;
        }
    }
    @if $breakpoint == tablet-port {
        @media only screen and (max-width: 800px) {
            @content;
        }
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media only screen and (max-width: 1500px) {
            @content;
        }
    }
}
