.container {
  max-width: $max-width;
  margin: 0 auto;
  @media screen and (max-width: $screen-xl - 1 + 'px') {
    max-width: 90%; 
  }
}

.row {
  display: flex;
  @media screen and (max-width: $screen-md + 'px') {
    flex-direction: column;
  }
}

[class^='col-']:not(:last-child) {
  margin-right: $column-gap;
  @media screen and (max-width: $screen-md + 'px') {
    margin-right: 0;
  }
}

.col-1-of-2 { width: 49%; }

.col-1-of-3 {
  width: calc((100% - #{$column-gap}) / 3);
}

.col-2-of-3 {
  width: calc(((100% - #{$column-gap}) / 3) * 2);
}

@media screen and (max-width: $screen-md + 'px') {
  .col-1-of-2,
  .col-1-of-3,
  .col-2-of-3 {
    width: 100%;
  }
}
