// 1199px
@media screen and (max-width: $screen-xl) {
  // Slider
  .slider {
    max-width: 100%;
  }

  .slide-quote {

    & > blockquote {
      max-width: 75%;
    }
  }
  .quote .slide-quote {

    & > figure {
      width: 125px;
      height: 125px;
    } 
  }
  .testimonial > .slide-quote {
    padding: 5rem;
  }
  // Footer
  .footer {

    &__blogs {
      margin: 0 2%;
    }
  }
}
// 1024px
@media screen and (max-width: $screen-lg) {
  // Slider
  .quote .slide-quote > figure {
    margin: 0;
  }

  // Footer
  .footer {

    &__sections {
      flex-wrap: wrap;
    }

    &__subscribe {
      max-width: 100%;

      .follow {
        flex-direction: row;
        margin-bottom: 15px;
        flex-wrap: wrap;

        &__list {
          line-height: 4rem;
          margin-bottom: 10px;
          margin-right: 2.5%;
          width: 45%;
        }
      }

      form  {
        flex-grow: 1;

        [type="email"] {
          width: calc(100% - 150px);
        }
      }
    }

    &__instagram {
      margin: 0 2%;
    }
  }
}
// 768 - 1024
@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
  .footer {

    &__blogs {
      max-width: 50%;
    }
  }
}
// 768px
@media screen and (max-width: $screen-md) {
  // Hero 
  .banner{

    & > .container {
      max-width: 100%;
      padding: 0;
    }

     .section-tab {
      padding: 0 1rem;
    }
  } 

  .welcome-heading {
    max-width: 90%;
  }

  .header {

    &__menu {
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: 4.3em;
      left: 0;
      padding: 1rem 1.5rem;
      background-color: rgba($color-dark, .9);
      width: 100%;
      max-height: 0;
      visibility: hidden;
      will-change: auto;
      transition: all 1s ease;
      
      & > li {
        opacity: 0;
        will-change: auto;
        transition: all .75s ease;
      }

      &.open {
        max-height: 250px;
        visibility: visible;
        
        & > li {
          opacity: 1;
        }
      }
    }

    &__nav {
      align-items: center;
      padding: 0 1rem;
    }

    & .menu-opener {
      display: block;
      position: absolute;
      right: 80px;
      width: 50px;
      height: 40px;
      transition: all .3s;
      will-change: contents;
      
      &:hover > span,
      &:focus > span {
        background-color: $color-second;
        &::before,
        &::after {
          background-color: $color-second;
        }
      }

      & > span {
        background-color: $color-white;
        width: 30px;
        height: 2px;
        @include abs-center;
        @include p-el(before, 30px, 2px) {
          background: $color-white;
          top: -7px;
        }
        @include p-el(after, 30px, 2px) {
          background: $color-white;
          top: 7px;
        }
      }
    }
  }
  // Footer
  .footer {

    &__sections {
      display: block;
    }

    &__subscribe {

      form {

        [type="email"] {
          width: calc(100% - 250px);
          min-width: 50%;
        }
      }

      .follow__list {
        width: 60%;
      }
    }

    &__blogs {
      max-width: 100%;
    }

    &__instagram {
      display: none;
    }
  }
  // slide-quote
  .slide-quote {
      
    & > figure {
      display: none;
    }
      
    & > blockquote {
      max-width: 100%;
      font-size: 2rem;
      margin: 0 !important;
    }
  }

  .slider > .slide-quote {
    padding: 5rem 1rem;
  }
  // Work Grid
  .work {

    &__pictures {
      grid-template-areas: 'picture-1 picture-2'
                           'picture-3 picture-4'
                           'picture-5 picture-6'
                           'picture-5 picture-7';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: auto auto auto auto;  
    }

    &__pic-5 {
      -ms-grid-row: 3;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
    }

    &__pic-6 {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }
  
    &__pic-7 {
      -ms-grid-row: 4;
      -ms-grid-column: 2;
    }
  }
  // Blog
  .blog {

    .item-post {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

      &__date {
        display: none;
      }
    }
  }
  // Accordion
  .panel-group {
    margin-top: 20px;
  }
  // Modal Window
  .modal__window {
    max-width: 90%;
  }
}
// 475px
@media screen and (max-width: $screen-sm) {
  html {
    font-size: 50%;
  }

  body {
    font-size: 1.6rem;
  }
  // Hero;
  .welcome-heading {
    margin-top: 4em;
    margin-bottom: 7em;
  }

  .section-tab > li > a {
    font-size: 0;
  }
  // Feature
  .feature {
    min-height: 47.5em;
  }
  // Footer
  .footer {

    &__subscribe {

      .follow__list {
        width: 100%;
      }

      form > [type="submit"],
      form > [type="email"] {
        width: 100%;
        max-width: 100%;
        margin-bottom: .5em;
      }
    }
  }
  // Modal Window
  .modal__window {
    width: 75%;
  }
}

