// Contact Us
.contact-us {
  padding: $padding-contact;

  .message {
    margin-top: 30px;
    padding: 2.5rem;

    &__fields {
      padding-left: 3.5rem;

      label {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    [type="text"],
    [type="email"],
    textarea {
      @extend %input-contact;
    }

    textarea {
      resize: none;
      min-height: 145px;
      height: 100%;
    }
  }
}
