.features {

  section {
    text-align: left;
  }

  img {
    max-width: 525px;
    max-height: 375px;
  }

  &--first {
    padding: $padding-feature-1;

    .feature--image {
      max-width: 320px;
      max-height: 253px;
      justify-self: center;
      margin-top: 25px;
    }
  }
  
  &--second {
    padding: $padding-feature-2;
  }
  
  &--third {
    padding: $padding-feature-3;

    .feature--content__side {
      padding-top: 3rem;
    }
  }

  &--first,
  &--third {
    background: $color-light;
  }

  &--btn {
    @extend %btn-tab;
    background: $color-dark-1;

    &__active {
      @extend %btn-tab;
      background-color: $color-main;
    }
  }
}

.feature {

  &--tabs {
    @include d-flex(center, column) {
      align-items: center;
    }

    button:not(:last-child) {
      margin-bottom: 1px;
    }

    button:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    button:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  
  &--content {

    &__side {
      line-height: 1;
    }
  }

  &--sublist {
    position: relative;

    .sublist-item {
  
      & > figure {
        @include figureCircle($size-side1);
        position: absolute;
        top: 0;
        left: 0;
      }
  
      &:nth-child(1) > figure {
        top: 2%;
        background-image: $icon-upload;
      }

      &:nth-child(2) > figure {
        top: 57%;
        background-image: $icon-download;
      }
    }

    .icon-caption {
      display: inline-block;
      width: 85%;
      max-width: 364px;
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-left: 15%;

      & > span {
        font-weight: 600;
      }

      & > p {
        margin-top: 1rem;
      }
    }
  }
}
