.hero {
  background-color: $color-black; 
  background: url(../img/bg_hero.png) no-repeat center / cover;
  color: $color-white;
  font-family: $font-main;
  padding: $padding-hero;

  &--title {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 400;
    padding: 2rem 0 3.5rem;
    position: relative;
    @include p-el(after, 64px, 2px) {
      background: $color-white;
      bottom: 0;
    }
  }

  &--description {
    color: rgba($color-white, .8);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.45;
    padding: 3.5rem 3.5rem 4rem 0;
  }
}

.company {
  max-width: 520px;
  text-align: left;

  &--name {
    display: inline-block;
  }
}

.signup-form {
  background-color: $color-white;
  border-radius: 3px;
  font-family: $font-second;
  overflow: hidden;
  margin-top: 30px;
  max-height: 362px;
  max-width: 360px;

  &--heading {
    background: $color-light;
    color: $color-dark-1;
    font-size: 2rem;
    padding: 1rem 3rem;
    line-height: 3.3rem;

    ins {
      text-transform: uppercase;
      text-decoration: none;
      color: $color-main;
    }
    
  }

  & > fieldset {
    padding: 0 1rem 1.8rem 3.2rem;
  }

  input {
    border: none;
  }

  [type="text"],
  [type="email"],
  [type="password"] {
    width: 90%;
    margin: 2rem 0 3rem;
    padding: 0 2rem;
    line-height: 4.1rem;
    border-bottom: 1px solid rgba($color-black, 0.15);
  }

  [type="button"] {
    width: 100%;
    padding: 2rem;
    background-color: $color-main;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
  }
}
