* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

br {
  display: none;
}

.menu-wrapper {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: none;
  border-right: none; 
}

.message {
  color: #6c6c6c;
  font-size: 11px;
  line-height: 30px;
  background-color: #d9e1e6;
  text-transform: uppercase;
  height: 30px;
  text-align: center;
}

.message i{
  cursor: pointer;
}
.inner-message {
  margin: 0 auto;
  width: 80%;
}

.inner-message i {
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  float: right;
}

.header-wrapper {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  height: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: inline-block;
  line-height:98px;
  text-align: center;
  width: 136px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.currency {
  cursor: pointer;
  min-width: 60px;
  width: 10%;
  line-height:98px;
  text-align: left;
}

.cart {
  cursor: pointer;
  min-width: 60px;
  border: 2px solid #ded3aa;
  margin: 27px 0;
  height: 42px;
  line-height: 42px;
  width: 11%;
  text-align: center;
}

nav {
  width: 60%;
}

nav a {
  font-weight: 400;
  font-size: 12px;
  line-height: 69px;
  text-align: center;
  color: black;
  text-decoration: none;
  display: inline-block;
  height: 69px;
  width: 16%;
}

nav a:hover {
  border-left: 1px solid #d9e1e6;
  border-right: 1px solid #d9e1e6;
}

.menu {
  width: 6%;
}

.menu-bar {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu-bar i {
  font-size: 16px;
  cursor: pointer;
  margin-left:6px;
  line-height: 70px;
  text-align: center;
}

.menu-cont {
  display: block;
  width: 7%;
  min-width: 60px;
}

.button-group {
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  width: 7%;
}


.main-content { 
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.gallery {
  width: 60%;
}

.main {
  background-image: url(./img/Rectangle_1.png);
  display: inline-block;
  height: 75%;
  width: 100%;
}

.base-img-row {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.base {
  width: 22%;
  height: 22%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information {
  width: 40%;
  font-size: 14px;
  padding: 1% 0 0 3%;
}

.information pre {
  padding: 0;
  line-height: 25px;
  margin-bottom: 25px;
}

p {
  margin-top: 0;
}

ul, p {
  word-spacing: 1.5px;
  line-height: 20px;
}

ul {
  padding: 25px 0 0 13px;;
}

ul li {
  color: #ccc;
  line-height: 24px;
}

ul li span {
  color: #797979;
}

.information h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 37px 0 15px 0;
  letter-spacing: 0.5px;
}

.vert-line {
  margin: 0 10px;
}

.review-info a {
  font-size: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.review-info i {
  color: #ded3aa;
}

.price {
  margin-bottom: 23px;
  font-size: 24px;
  margin-top: 20px;
  display: block;
}

.blue {
  color: #68899a;
}

.information p, li {
  color: #797979;
}

.order-spec-selection {
  padding: 25px 0px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.order-spec-selection label {
  font-weight: 700;
  text-transform: uppercase;
}

.select-wrapper {
  width: 37%;
  margin-right: 5%;
}

.select-wrapper:last-child {
  width: 15%;
  margin-right: 0;
}

.select-wrapper select {
  margin-top: 15px;
  display: block;
}

.clear-selection {
  display: block;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.order-btn-container {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-btn-container button {
  border: none;
  background-color: black;
  color : white;
  text-align: center;
  line-height: 55px;
  height: 55px;
  width: 220px;
  margin-right: 20px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.order-btn-container button:nth-child(2) {
  margin-right: 0;
  background-color: white;
  color : black;
  border: 1px solid #e1e1e1;
}

.order-btn-container i {
  margin-right: 7px;
}

.order-btn-container button:hover {
  -webkit-box-shadow: 0px 0px 4px #6c6c6c;
          box-shadow: 0px 0px 4px #6c6c6c;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.share-this {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; 
  height: 50px;
}

.share-this>span {
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.icons-container {
  color: white;
  height: 21px;
  padding: 15px 0 0 0;
}

.icons-container a {
  margin-right: 5px;
}

footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 88px;
  font-size: 13px;
  color: #ccc;
  width: 100%;
  padding: 29px 0;
  text-align: center;
  font-weight: 300;
}

@media only screen and (max-width: 1275px) {
  .share-this>span {
    display: none;
  }

  .icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }

  .icons-container a {
    margin-right: 5px;
  }
}

@media only screen and (max-width:1000px) {
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery {
    width: 100%;
  }

  .information {
    padding: 10px;
    width: 100%;
  }

  .order-spec-selection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .order-btn-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .order-btn-container button {
    width: 45%
  }

  .share-this {
    height: 50px;
  }

  .icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
  }

  .message {
    font-size: 10px; 
  }

  footer {
    margin-top:0;
  }  

  .dropdown {
    width: 80%;
    position: relative;
    display: flex;
  }

  .dropdown-content {
    border: 1px solid #e1e1e1;
    width: 50vw;
    display: none;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
  }

  .dropdown-content a {
    min-width: 160px;
    color: black;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    border-bottom: 1px #e1e1e1;
    margin: 0 auto;
  }

  .dropdown-content a i {
    display: none;
  }

  nav a {
    width: 100%;
    border: 1px solid #e1e1e1;
  }

  .show {display:block;}
}

@media only screen and (max-width:383px) {
  .share-this {
    height: 75px;
  }
  br{
    display: initial;
  }
  .icons-container a {
    width: 30%
  }
  .icons-container a {
    margin: 0 20px;
  }
  .icons-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width:425px) {
  .vert-line {
    display: none;
  }
  .review-info a {
    display: block;
  }
  .logo {
    font-size: 20px;
  }
}

@media only screen and (max-width:410px) {
  .message {
    height: 60px;
  }
}
