.number-item {
    @include padding-default-middle;
    width: 20%;
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    @include respond(big-desktop) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    @include respond(tablet-port) {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 50%;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    @include respond(phone) {
        width: 100%;
    }

    &:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        @include respond(tablet-port) {
            width: 100%;
            border: none;
        }
    }

    &__number {
        margin-bottom: 1rem;
        font-size: 7.2rem;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        color: $color-main-light;

        @include respond(tablet) {
            font-size: 6rem;
        }
    }
}
