$white-color: #ffffff;
$dark-color: #333333;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide-pic {
  display: none;
}

h1 {
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  width: 60%;
  margin: auto;
  color: $white-color;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 30px 20px 55px 30px;
  letter-spacing: -4px;
}

h2 {
  font-family: "Kaushan Script", cursive;
  color: $white-color;
  letter-spacing: 1.2px;
  font-size: 70px;
}

h3 {
  font-family: "Montserrat";
  font-size: 30px;
  padding: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  color: $dark-color;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
}

h5 {
  color: $dark-color;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.line {
  width: 60px;
  margin: auto;
  border-bottom: 2px solid $white-color;
}

.line-red {
  margin-top: 25px;
  border-bottom: 2px solid #f38181;
}

.welcome-container {
  width: 100%;
  margin: auto;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #df8b82;
    padding: 0 5%;
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.8)),
      to(rgba(243, 129, 129, 0.8))
    ),
    url("../img/eagle.png") center center no-repeat;
  background: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url("../img/eagle.png") center center no-repeat;
  background: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url("../img/eagle.png") center center no-repeat;
  background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url("../img/eagle.png") center center no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar .logo {
  font-size: 30px;
  padding: 15px 0 0 0;
  margin: 10px 0;
  text-transform: capitalize;
}

li a {
  padding: 20px 19px;
  margin: 10px 5px;
}

.navbar li a:hover {
  border-bottom: 2px solid #fce38a;
}

ul {
  list-style-type: none;
}

.navbar a {
  color: $white-color;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-decoration: none;
}

.navbar li:last-child {
  padding: 0;
}

.intro {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  padding: 80px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  h2 {
    padding-top: 30px;
  }
}

.learn-more {
  font-size: 14px;
  padding: 10px 32px 8px 32px;
  border: 2px solid $white-color;
  color: $white-color;
  text-transform: uppercase;
  background: transparent;
  margin: 50px auto;
}

.learn-more:hover {
  background-color: $white-color;
  color: $dark-color;
}

.tabs {
  width: 85%;
  margin: auto;
  padding: 0;
}

.tab-item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding: 15px 15px 22px;
  margin: 0px 12px;
  border-top: 2px solid $white-color;
}

.tab-item span {
  text-transform: uppercase;
  color: $white-color;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
}

.about-container,
.work-with,
.stories-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.about-container {
  padding: 6% 0 2% 0;
}

.about-container {
  h3 {
    padding-bottom: 5px;
  }
}

.about-container p,
.what-we-do p,
.our-team p,
.portfolio p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  width: 68%;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}

.about-container p {
  padding: 40px 5px;
}

.about-img-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 4% 0 7.5% 0;
  width: 84%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.workspace {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}
.about-img-block img {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about-img-block img:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0.3;
}

.nums-container {
  background-color: #95e1d3;
  width: 100%;
  padding-bottom: 15px;
}

.nums-block {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #95e1d3;
  margin: 0 auto;
  width: 84%;
  text-align: center;
}

.award {
  padding: 70px 0 5px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 10%;
  flex: 1 0 10%;
  border-left: 1px solid #e5e5e5;
}

.award h2 {
  font-family: "Montserrat";
}

.award p {
  font-family: "Montserrat";
  font-size: 14px;
  padding: 0px 0 70px 0;
  color: $white-color;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

.work-with {
  margin: 5% 8.5% 7.5% 8.5%;
}

.info-items {
  margin: 4.5% 0 2% 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.service-container {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-item {
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
  float: left;
  margin-left: 14px;
  line-height: 5;
}

.service-info {
  -ms-flex-preferred-size: row wrap;
  flex-basis: row wrap;
  margin-left: 75px;
  margin-top: 10px;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.service-info p {
  line-height: 24px;
  padding-top: 5px;
  font-family: "Roboto";
  font-size: 15px;
}

.unique-container {
  text-align: center;
  background-image: url(../img/unique-bg.png);
  background-position-x: center;
  height: 940px;
}

.unique-container h4 {
  padding-top: 7%;
}

.what-we-do {
  padding: 1% 0;
  margin-bottom: -1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.what-we-do p {
  padding: 40px 5px;
}

.pic-accordion {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.guy-with-pic,
.accordion-tab {
  margin-top: 3%;
  -ms-flex-preferred-size: 41%;
  flex-basis: 41%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.guy-with-pic img {
  margin-right: 25px;
}

.accordion-tab {
  margin-top: 2.5%;
}

.accordion {
  text-transform: uppercase;
  color: #444;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 22px 20px 22px;
  width: 100%;
  border: 1px solid #e5e5e5;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.accordion-tab .panel {
  display: none;
 
}

.accordion-tab .active-tab .panel {
  display: block;
}



.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\2191";
  color: #777;
  font-weight: bold;
  float: right;
  font-size: 20px;
  margin-left: 30px;
}

.active:after {
  content: "\2193";
}

.panel {
  padding: 15px;
  border: 1px solid #e5e5e5;
  color: #999999;
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.slide-container {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 1%;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f8f8;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.slider-container{
  width: 80%;
  overflow: hidden;
}
.slide-box {
  width: 300%;
  display: flex;
}




.slide-block{
  width: 100%;
  transition: transform 0.5s;
}


.sc-2 {
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  padding: 0 30px;
  transition: 0.3s;
  font-size: 30px;
  width: auto;
}

.arrow-left:hover, .arrow-right:hover {
  transform: scale(1.2);
}

.arrow-right {
  right: 0;
}

.msg-box {
  float: left;
  padding: 50px 80px;
  // -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  img {
    width: 150px;
    height: auto;
  }
}


.josh {
  margin-right: 50px;
}

.description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  font-size: 24px;
  padding-bottom: 3.5%;
  font-weight: 400;
  line-height: 36px;
  font-family: "Roboto";
  i {
    padding: 75px 20px 0 10px;
  }
}

.description h4 {
  padding: 12px 80px;
}

.our-team {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5.4%;
}

.our-team p {
  padding-top: 3%;
}

.team-block {
  margin-top: 6%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-preferred-size: 28.5%;
  flex-basis: 28.5%;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.img-item h5 {
  padding: 20px 0 10px 0;
}

.partners {
  background: url("../img/logos.png") no-repeat center center;
  margin-top: 8.5%;
  height: 250px;
  background-color: #f8f8f8;
}

.portfolio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 7%;
}

.portfolio p {
  padding-top: 2.8%;
}

.padding-t-3 {
  padding-top: 3%;
}

.padding-t-5 {
  padding-top: 5%;
}

.grid-container {
  margin: 7% 0 241px 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  img {
    max-width: 100%;
    cursor: pointer;
  }
}
.big-pic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3 / span 2 / span 1;
}

.mySlides {
  display: none;
  
    margin: auto;
    width: 50%;
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.8);
}


.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  overflow: hidden;
  .mySlides:nth-child(5) {
    margin-top: -200px;
   padding: 8%;
   height: 100vh;
  
  }
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.review-container {
  margin-top: 6%;
  background: url("../img/rock-bg.png") no-repeat center center;

  padding-bottom: 135px;
  // opacity: 0.8;
}

.clients {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8%;
}

.reviews {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 77%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.review-item {
  width: 46.5%;
}

.reviewer-img img {
  float: left;
}

.review {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  line-height: 1.7;
  margin: 25px 0 0 135px;
  p {
    font-family: "Roboto";
    color: #999999;
  }
}

.stories-container {
  margin-top: 6.3%;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 85%;
  padding-top: 3.5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-item {
  position: relative;
  padding: 0px 10px 0px 10px;
  line-height: 1.7;
  width: 33%;
  img[alt="post"]{
    width: 100%;
    height: 255px;
  }
  h5 {
    padding-top: 3px;
  }
  p {
    padding: 8px 0 0 2px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: "Roboto";
    margin-bottom: 15px;
  }
}

.post-day {
  background: #95e1d3;
  position: absolute;
  bottom: 170px;
  left: 5px;
  color: $white-color;
  padding: 0px 10px;
  line-height: 1.5;
  font-family: "Roboto";
  text-align: center;
  span:first-child {
    font-weight: bold;
    font-size: 30px;
    display: block;
  }
  span:last-child {
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    color: $white-color;
  }
}

.stats {
  padding: 10px 0px;
  font-family: "Roboto";
  i {
    margin-right: 15px;
  }
}

.map {
  background: url("../img/map.png") no-repeat center center;
  margin: 7% 0 4.5% 0;
  min-height: 200px;
  text-align: center;
  img {
    margin: 4% 0 0.5% 0;
  }
  h3 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mogo-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  width: 35%;
  margin-left: 95px;
  h2 {
    font-family: "Montserrat";
    font-size: 46px;
    color: #cccccc;
    margin: 0;
    padding-left: 10px;
  }
  p {
    padding: 25px 0 15px 15px;
    letter-spacing: -0.2px;
    font-family: "Roboto";
    line-height: 24px;
  }
  .fa {
    color: #95e1d3;
    padding-left: 12px;
  }
  i {
    padding: 6px 0 0 15px;
  }
}

.subscribe {
  margin-top: 35px;
  word-spacing: -5px;
}

.subscribe input {
  width: 46%;
  padding: 12px 0;
  margin-left: 15px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  font-style: italic;
  padding-left: 12px;
  opacity: 0.5;
}

input:-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
  padding-left: 12px;
  opacity: 0.5;
}

input::-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
  padding-left: 12px;
  opacity: 0.5;
}

input::placeholder {
  font-size: 14px;
  font-style: italic;
  padding-left: 12px;
  opacity: 0.5;
}

.subscribe button {
  text-transform: uppercase;
  width: 30%;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  padding: 10.5px 0;
  background-color: #95e1d3;
}

.blog-section,
.inst-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  width: 27%;
  margin-top: 12px;
}

.blog-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-pic {
  margin-top: 35px;
  img {
    width: 200px;
    height: 150px;
  }
}

.blog-text {
  padding-top: 53px;
  padding-left: 20px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.date {
  color: #999999;
  font-family: Roboto;
  font-style: italic;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 2px;
  line-height: 24px;
}

.inst-section h5 {
  margin-left: 8px;
}

.inst-section i {
  padding: 15px 8px;
  font-size: 13px;
  color: #333333;
  font-family: "Roboto";
}

.grid-inst {
  margin: 9% 0 0 2%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-columns: (0.1fr);
  grid-template-columns: repeat(3, 0.1fr);
  img {
    padding: 1px;
  }
}
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer-text {
  font-family: "Montserrat";
  font-size: 14px;
  padding-top: 72px;
  text-align: center;
  a {
    color: #f38181;
    text-decoration: none;
  }
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 45px;
    width: 100%;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 30px;
  }

  .about-img-block img {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    // margin: 10px;
  }

  .workspace {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .workspace img {
    margin: 0 auto;
  }

  .navbar .logo {
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 1028px) {
  nav ul li:not(:first-child) {
    display: none;
  }

  .unique-container {
    display: none;
  }

  .footer-top > * {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .blog-content {
    margin: 10px auto;
    padding: 5px;
  }

  .blog-section h5,
  .inst-section h5 {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
  }

  .inst-section {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .flx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .about-container,
  .work-with,
  .stories-container,
  .reviews,
  .news-block,
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .slide-container {
    font-size: 14px;
  }

  .about-img-block img {
    margin: 40px auto;
    width: 80%;
  }

  .award {
    margin: 0;
    padding: 20px 0 5px 0;
    border: none;
  }

  .guy-with-pic {
    margin: 0 auto;
  }

  .accordion-tab {
    padding: 20px;
  }

  .slide-container {
    width: 90%;
    margin: 0 auto;
  }

  .msg-box {
    padding: 20px 0 0 0;
    margin: 0;
  }

  .description {
    font-size: 16px;
    text-align: center;
  }

  .img-item {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .partners {
    display: none;
  }


  .reviews > * {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .post-item {
    width: 100%;
    margin: 0 auto;
  }
}
