  @media screen and(max-width: 1024px) {
    .form {
      .inputs {
        flex-wrap: wrap;

        .info_inp {
          width: 31%;

          &[type=submit] {
            margin-top: 24px;
            flex-grow: 1;
          }
        }
        .valid {
          background: url(../images/check-mark.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 200px 15px;
        }
        .invalid {
          background: url(../images/warning-sign.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 200px 13px;
        }
      }
    }  
  }

  @media screen and (max-width: 768px) {
    .form {
      
      .inputs {
        
        .info_inp {
          width: 100%;
          margin-bottom: 20px;

          &[type=submit] {
            width: 61%;
          }
        }
        .valid {
          background: url(../images/check-mark.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 470px 15px;
        }
        .invalid {
          background: url(../images/warning-sign.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 470px 13px;
        }
      }

      h6 {
        font-size: 15px;
      }
    }
  }
  
