// Navbar
.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  background-color: $color-black;
  z-index: 2;

  .menu-opener {
    display: none;
  }

  &--logo {
    margin-left: 1%;
    width: 80px;
    height: 80px;

    img {
      display: block;
      position: relative;
      width: 79px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--nav {
    @include d-flex();
    padding: 0 10%;
  }

  &--menu {
    @include d-flex();
    line-height: 5;
    width: 435px;

    a {
      display: block;
      padding: 0 .5rem;
    }
  }
}
