@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-basis($value) {
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}

@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

@mixin align-items($value) {
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin align-self($value) {
  -ms-flex-item-align: $value;
  -ms-grid-row-align: $value;
  align-self: $value;
}

@mixin align-items($value) {
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin flex-direction($value) {
  -webkit-box-orient: $value;
  -webkit-box-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($val) {
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-template-columns($grid-values) {
  -ms-grid-columns: $grid-values;
  grid-template-columns: $grid-values;
}

@mixin grid-template-rows($grid-values) {
  -ms-grid-rows: $grid-values;
  grid-template-rows: $grid-values;
}

@mixin background-image-main {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
  -moz-box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
  box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -o-transform-origin: $val;
  -ms-transform-origin: $val;
  transform-origin: $val;
}