@import "variables";
@import "mixins";
@import "grid_gallery";
@import "media/phone";
@import "media/tablet";
@import "media/small_laptop";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
}

main {
  background-image: url(../pics/backgrounds/main-background-picture.png);
  z-index: 1;
  position: relative;
}

header {
  @include flex;
  @include justify-content(space-between);

  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  padding-top: 10px;

  .small-logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 17px 0;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $background-main;
    }
  }
}

.font {
  font-family: $Roboto;
  color: $font;
  font-size: 15px;
}

.italic-header {
  color: $headers;
  font-family: $KaushanScript;
  font-size: 24px;
  font-weight: 400;
}

.simple-header {
  color: $headers;
  font-family: $Montserrat;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.align {
  max-width: 1200px;
  margin: 0 auto;
}

.underline {
  border-top: 3px solid;
  color: transparent;
}

.container {
  @include flex;
  @include flex-direction(column);
  @include align-items(center);
}

.second-back {
  @include background-image-main;

  background-color: $background-main;
  opacity: 0.9;
}

.add-background {
  @include background-image-main;

  padding: 0 120px;
}

.add-border {
  color: $background-main;
  border-bottom: 3px solid $background-main;
  padding-bottom: 10px;
}

.main-font {
  color: $white;
  font-family: $Montserrat;
  font-size: 14px;
}

.top-navigation {
  @include flex;
  @include justify-content(space-around);
  @include align-items(center);

  margin-right: -29px;

  .top-menu {
    @include flex;
    @include justify-content(space-around);

    list-style-type: none;
    color: $white;
    text-transform: uppercase;

    .menu-item {
      padding: 0 27px;
      cursor: pointer;
    }

    .menu-link {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $background-main;
      }
    }

    .fas {
      font-size: 16px;
    }
  }
}

.pad {
  padding-top: 209px;
}

.main-subheader {
  font-family: $KaushanScript;
  color: $white;
  font-size: 72px;
  font-weight: 400;
}

.main-header {
  font-family: $Montserrat;
  color: $white;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 140px;
  padding: 27px 0 56px 0;
}

.white-underline {
  border-color: $white;
  padding-top: 30px;
}

.learn-more {
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid $white;
  font-weight: bold;
  padding: 10px 28px;
  cursor: pointer;

  &:hover {
    color: $background-main;
    border-color: $background-main;
  }
}

.slider-buttons {
  @include flex;
  @include justify-content(space-around);

  padding-top: 156px;
}

.slide {
  text-transform: uppercase;
  text-decoration: none;
  border-top: 3px solid $white;
  opacity: 0.5;
  font-size: 18px;
  margin: 0 16px;
  padding: 20px 0;
  display: inline-block;
  width: 278px;

  span {
    font-size: 24px;
    font-weight: bold;
  }

  &:hover, &:focus-within {
    position: relative;
    opacity: 1;
    border: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      background: $underlines;
      height: 3px;
      width: 25%;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      background: $white;
      height: 3px;
      width: 75%;
    }
  }
}

.story-about {
  padding: 90px 0;
}

.paragraph {
  text-align: center;
  line-height: 22px;
  padding: 0 102px;
}

.color-underline {
  border-color: $underlines;
  margin: 39px 0 26px 0;
}

.gallery {
  @include flex;
  @include justify-content(space-between);

  padding: 97px 0 17px 0;
}

.animation {
  position: relative;
  transition: 0.3s ease-in-out;
  margin: 0 15px;

  .grad {
    @include background-image-main;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    @include box-shadow;

    transform: translate(-10px, -10px);  

    .grad {
      opacity: 0.9;
    }
  }
}

.hover-head {
  @include flex;
  @include flex-direction(column);

  font-size: 18px;
  margin-top: 70px;
  line-height: 50px;

  i {
    font-size: 18px !important;
    color: $white !important;
  }
}

.statistics {
  background-color: $riptide;
}

.stats {
  @include grid;
  @include grid-template-columns(1fr 1fr 1fr 1fr 1fr);
}

.stat {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.stat-content {
  padding: 40px 10px 70px 10px;
}

.stat-header {
  font-size: 72px;
  padding: 0;
}

.stat-font {
  color: $white;
  text-transform: uppercase;
}

.amazing-services {
  padding: 108px 0 47px 0;
}

.as-items {
  @include grid;
  @include grid-template-columns(1fr 1fr 1fr);
  @include grid-template-rows(1fr 1fr);
}

.item {
  @include grid;
  @include grid-template-columns(0.2fr 0.8fr);

  padding: 21px 0 94px 27px;
}

.as-small-header {
  text-transform: uppercase;
  color: $headers;
}

.as-paragraph {
  font-family: $Roboto;
  font-size: 15px;
  color: $font;
}

.unique-designs {
  background-image: url(../pics/backgrounds/uniq-design-background-pic.png);
}

.grey-background {
  background-color: $background-section;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 108px;
  position: relative;
}

.tablet-pic {
  margin-right: 57px;
}

.phone-pic {
  position: absolute;
  z-index: 1;
  bottom: -11%;
  right: 25%;
}

.what-we-do {
  padding: 109px 0 120px 0;
}

.wwd-items {
  @include grid;
  @include grid-template-columns(1fr 1fr);

  padding-top: 92px;
}

.wwd-pics {
  margin-right: 30px;
}

.future-dropdown {
  list-style-type: none;

  .drop-item {
    @include flex;
    @include flex-direction(column);
  
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid $font;
    cursor: pointer;
    
    .drop-icon {
      padding-right: 12px;
      color: $riptide;
      font-size: 31px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.drop-item-header {
  @include flex;
  @include align-items(center);

  color: $headers;
  text-transform: uppercase;
  font-weight: 400;

  .fas {
    margin-left: auto;
    font-size: 25px;
    color: $font;
  }
}

.close .drop-item-content{
  height: 0px;
  transition: transform 0.1s linear;
  transform: scaleY(0);
  max-height: 170px;
  overflow: hidden;
  padding: 10px 20px 0 20px;
}

.open .drop-item-content{
  @include box-sizing(border-box);
  @include transform-origin(top);

  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  transform: scaleY(1);
  transition: transform 0.2s linear;
  max-height: 170px;
  overflow: scroll;
}

.quote {
  background-color: $quote-background;
  padding-top: 36px;
}

.quotes {
  @include flex;
  @include align-items(center);

  .fas {
    font-size: 30px;
    color: $headers;
    cursor: pointer;
    transition: 0.6s ease;
  }
}

.quotes-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 1150px;

  .quote-slider {
    @include flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 3450px;
    transition: transform 1s;
  }
}

.quote-block {
  flex: 0 0 auto;
  width: 1150px;
  height: 252px;
}

.quote-items {
  @include flex;
  @include align-items(center);

  .quote-img {
    border: 3px solid $riptide;
    padding: 41px;
    margin: 34px 57px 69px 56px;
  }
  
  .quote-paragraph {
    @include flex;
    @include flex-direction(column);
  
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
  }
}

.slider {
  animation: slide 1s;

  @keyframes slide {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(-1150px, 0, 0);
      transform: translate3d(-1150px, 0, 0);
    }
  }
}

.quote-underline {
  margin: 17px 10px 0 0;
}

.name {
  @include flex;

  margin-top: 8px;
}

.visible {
  @include flex;

  animation: arise 2s;
}

@keyframes arise {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hidden {
  display: none;
}

.meet-our-team {
  padding: 99px 0;
}

.mot-pic {
  margin: 0 30px;
}

.grad-icons {
  @include flex;
  @include justify-content(center);

  margin-top: 50%;
}

.g-hov {
  color: $underlines;
  background-color: $background-main;
  padding: 16px;
  font-size: 30px;

  &:hover {
    background-color: $underlines;
    color: $white;
  }
}

.dev-p {
  font-style: italic;
}

.developer {
  padding-top: 22px;
  line-height: 22px;
}

.labels {
  background-color: $quote-background;
  padding: 51px 0;
}

.label-items {
  @include flex;
  @include justify-content(space-around);

  img:hover {
    animation: 1s scale;
  }
  
  @keyframes scale {
    from {
      transform: scale(1.0);
    }
    to {
      transform: scale(1.2);
    }
  }
}

.some-of-our-work {
  padding: 105px 0;
}

.grid-section {
  padding-top: 100px;
  margin-bottom: 151px;
}

.popup {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: $background-section;
  background-color: rgba(0,0,0,0.9);

  .popup-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: scaleImg 0.6s;

    @keyframes scaleImg {
      from {
        transform: scale(0) 
      }

      to { 
        transform: scale(1) 
      }
    }
  }
}

.block {
  display: block!important;
}

.none {
  display: none;
}

.flex {
  @include flex;
}


.joshua-quote {
  background: transparent;
  padding-bottom: 128px;
}

.joshua-text {
  margin: 0;
}

.joshua-earle {
  margin: 2px 36px 2px 75px;
}

.what-people-say {
  background-image: url(../pics/backgrounds/uniq-design-background-pic.png);
}

.grey-people {
  padding-bottom: 114px;
}

.people {
  @include grid;
  @include grid-template-columns(1fr 1fr);
  @include grid-template-rows(1fr 1fr);
  padding-top: 30px;
  grid-gap: 10px;

  .people-item {
    @include grid;
    @include grid-template-columns(0.2fr 0.8fr);
    grid-gap: 21px;
    margin-top: 23px;
  }
}

.wps-underline {
  width: 61px;
  margin: 28px 0 20px 0;
}

.wps-header {
  margin-bottom: 6px;
}

.wps-pic {
  margin-left: 39px;
}

.latest-blog {
  padding: 108px 0;
}

.lb-gallery {
  @include grid;
  @include grid-template-columns(1fr 1fr 1fr);
  grid-gap: 20px;
  padding-top: 0;
}

.lb-pic {
  width: 100%;
  height: 218px;
}

.lb-item {
  @include flex-basis(33%);

  position: relative;
}

.lb-header {
  overflow: scroll;
  height: 36px;
}

.number {
  font-size: 30px;
  line-height: 30px;
  padding: 0;
}

.calendar {
  @include flex;
  @include flex-direction(column);

  background-color: $riptide;
  color: $white;
  font-style: italic;
  font-weight: 300;
  position: absolute;
  padding: 2px 0;
  width: 50px;
  height: 60px;
  text-align: center;
  top: 45%;
  right: 85%;
}

.lb-text-block {
  border-bottom: 1px solid $border;
  padding: 17px 0 33px 10px;
  margin-right: 17px;

  .flow {
    overflow: auto;
    height: 36px;
  }
}

.lb-icons{
  @include flex;
  margin-top: 15px;

  .fas {
    color: $riptide;
    padding: 0 12px;

    &:before {
      padding-right: 5px;
    }

    span {
      font-style: italic;
    }
  }

  .far {
    color: $riptide;
    padding: 0 12px;

    &:before {
      padding-right: 5px;
    }

    span {
      font-style: italic;
    }
  }
}

.open-map {
  background-image: url(../pics/backgrounds/open-map-background-pic.png);

  .map-background {
    padding: 48px 0 15px 0;
  }

  .map-header {
    color: $underlines;
    font-size: 24px;
  }

  img {
    padding-bottom: 10px;
  }

  .map-underline {
    margin-top: 16px;
  }
}

.mogo-insta-blogs {
  padding: 61px 0 30px 0;
  background-color: $quote-background;
}

.mogo-items {
  @include flex;
}

.mogo-text {
  @include flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include flex-basis(39%);
}

.mogo-header {
  color: $logo-color;
  font-family: $Montserrat;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 27px;
}

.mogo-font {
  line-height: 23px;
  margin-bottom: 46px;
}

.followers {
  text-transform: lowercase;
  border-bottom: 1px solid $border;
  margin-bottom: 17px;
  padding-bottom: 12px;
  width: 100%;

  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.mogo-icons {
  @include flex;
  @include justify-content(flex-start);
  margin-bottom: 36px;

  .follow-us {
    font-style: italic;
    padding-right: 20px;
  }

  .fa-icons {
    color: $riptide;

    .fab {
      padding-right: 12px;

      &:hover {
        color: $underlines;
        cursor: pointer;
      }
    }
  }
}

.mogo-form {

  input[type="email"] {
    background-color: $white;
    padding: 14px 98px 12px 0px;
    text-indent: 10px;
    outline: none;

    &::placeholder {
      color: $logo-color;
      font-family: $Roboto;
      font-size: 15px;
      font-style: italic;
      text-align: left;
    }
  }

  input[type="submit"] {
    background-color: $riptide;
    font-size: 14px;
    text-align: center;
    padding: 10px 30px 9px 30px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      background-color: $underlines;
    }
  }
}

.mogo-blogs {
  padding: 14px 0 0 79px;
}

.blog-items {

  @include grid;
  
  overflow: scroll;
  height: 280px;
  margin-top: 20px;
}
.blog-item {
  @include grid;
  @include grid-template-columns(0.3fr 0.7fr);

  padding-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.blog-text-header {
  font-size: 12px;
  padding-right: 25px;
  height: 40px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog-text {
  @include flex;
  @include flex-direction(column);
  margin: 16px 0 0 24px;
}

.date {
  font-style: italic;
}

.mogo-instagram {
  @include flex;
  @include flex-direction(column);
  padding-top: 15px;
}

.insta-items {
  @include grid;
  @include grid-template-columns(1fr 1fr 1fr);
  @include grid-template-rows(1fr 1fr 1fr);
  padding: 31px 6px 21px 0;

  img {
    border: 1px solid $white;
  }
}

.insta-par {
  font-size: 13px;
  font-style: italic;
}

footer {
  background-color: $quote-background;
  text-align: center;

  .footer-par {
    font-size: 14px;
    color: $headers;
    font-family: $Montserrat;
    border-top: 1px solid $border;
    padding: 20px 0;
    margin: 0 125px;

    a {
      text-decoration: none;
      color: $underlines;
      cursor: pointer;

      &:hover {
        color: $riptide;
      }
    }
  }
}