@import "variables";
@import "mixins";
@import "media/phone";
@import "media/tablet";

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
}

main {
  background-image: url(../pics/backgrounds/main-background-picture.png);
}

.font {
  font-family: $Roboto;
  color: $font;
  font-size: 15px;
}

.italic-header {
  color: $headers;
  font-family: $KaushanScript;
  font-size: 24px;
}

.simple-header {
  color: $headers;
  font-family: $Montserrat;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.align {
  width: 1200px;
  margin: 0 auto;
}

.underline {
  border-top: 3px solid;
  color: transparent;
}

.container {
  @include flex;
  @include flex-direction-column;
  @include align-items-center;
}

.second-back {
  background-color: $background-main;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 0.9;

  header {
    @include flex;
    @include justify-content-space-between;

    .small-logo {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      padding: 17px 0;
    }
  }
}

.main-font {
  color: $white;
  font-family: $Montserrat;
  font-size: 14px;
}

.top-navigation {
  @include flex;
  @include justify-content-space-around;

  padding-top: 36px;
  margin-right: -29px;

  .top-menu {
    @include flex;
    @include justify-content-space-around;

    list-style-type: none;
    color: $white;
    text-transform: uppercase;

    .menu-item {
      padding: 0 27px;
      cursor: pointer;
    }

    .hovered:hover {
      color: $background-main;
      border-bottom: 3px solid $background-main;
      padding-bottom: 7px;
    } 

    .fa {
      font-size: 16px;
      &:hover {
        color: $background-main;
      }
    }

    .about:hover, .about:focus-within {
      border-bottom: 3px solid $background-main;
    }
  }
}

.pad {
  padding-top: 138px;
}

.main-subheader {
  font-family: $KaushanScript;
  color: $white;
  font-size: 72px;
  font-weight: 400;
}

.main-header {
  font-family: $Montserrat;
  color: $white;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 140px;
  padding: 27px 0 56px 0;
}

.white-underline {
  border-color: $white;
  padding-top: 30px;
}

.learn-more {
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid $white;
  font-weight: bold;
  padding: 10px 28px;
  cursor: pointer;

  &:hover {
    color: $background-main;
    border-color: $background-main;
  }
}

.slider-buttons {
  @include flex;
  @include justify-content-space-around;

  padding-top: 156px;
}

.slide {
  text-transform: uppercase;
  text-decoration: none;
  border-top: 3px solid $white;
  opacity: 0.5;
  font-size: 18px;
  margin: 0 16px;
  padding: 20px 0;
  display: inline-block;
  width: 278px;

  span {
    font-size: 24px;
    font-weight: bold;
  }

  &:hover, &:focus-within {
    position: relative;
    opacity: 1;
    border: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      background: $underlines;
      height: 3px;
      width: 25%;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: '';
      background: $white;
      height: 3px;
      width: 75%;
    }
  }
}

.story-about {
  padding: 90px 0;

  p {
    text-align: center;
    line-height: 22px;
    padding: 0 102px;
  }
}

.color-underline {
  border-color: $underlines;
  margin: 39px 0 26px 0;
}

.sau-gallery {
  @include flex;
  @include justify-content-space-between;

  padding: 99px 0 17px 0;
}

.sau-pic {
  margin: 0px 15px;
}

.statistics {
  background-color: $riptide;
}

.stats {
  @include grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.stat {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.stat-content {
  padding: 40px 10px;
}

.stat-header {
  font-size: 72px;
  padding: 0;
}

.stat-font {
  color: $white;
  text-transform: uppercase;
}
