section#about.about
  .container
    .section-heading
      span What we do
      h2 Story about us
    p.text-section.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .about__pictures.row
      .col-1-of-3.overlay-box
        img(src="img/tuc1.png" alt="super team")
        .about__info
          //- i.about__icon
          span super team
      .col-1-of-3.overlay-box
        img(src="img/tuc2.png" alt="creativity")
        .about__info
          //- i.about__icon
          span creativity
      .col-1-of-3.overlay-box
        img(src="img/tuc3.png" alt="digital")
        .about__info
          //- i.about__icon
          span digital
section.facts
  .container
    ul.facts__list
      li.facts__item
        span.facts__item--large 42
        span.facts__item--small web design projects
      li.facts__item
        span.facts__item--large 123
        span.facts__item--small happy client
      li.facts__item
        span.facts__item--large 15
        span.facts__item--small award winner
      li.facts__item
        span.facts__item--large 99
        span.facts__item--small cup of coffe
      li.facts__item
        span.facts__item--large 24
        span.facts__item--small members

