section#blog.blog
  .container
    .section-heading
      span Our stories
      h2 Latest blog
    .latest-posts
      .item-post
        img(src="img/post1.png", alt="Post 1")
        span.item-post__date 15 jan
        h4.item-post__title Lorem ipsum dolor sit amet
        p.item-post__text.
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        span <i></i>542
        span <i></i>17
      .item-post
        img(src="img/post2.png", alt="Post 2")
        span.item-post__date 14 jan
        h4.item-post__title Sed do eiusmod tempor
        p.item-post__text.
          Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        span <i></i>992
        span <i></i>42
      .item-post
        img(src="img/post3.png", alt="Post 3")
        span.item-post__date 13 jan
        h4.item-post__title Incididunt ut labore et dolore
        p.item-post__text.
          Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        span <i></i>1560
        span <i></i>98
section.map
  a(href="#", role="button") open map
