section#blog.blog
  .container
    .section-heading
      span Our stories
      h2 Latest blog
    .latest-posts.row
      .col-1-of-3.item-post
        img(src="img/post1.png", alt="Post 1")
        span.item-post__date <b>15</b> Jan
        h4.base-title Lorem ipsum dolor sit amet
        p.item-post__text.
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        span.item-post__icon <i class="fas fa-eye"></i> 542
        span.item-post__icon <i class="fas fa-comment"></i> 17
      .col-1-of-3.item-post
        img(src="img/post2.png", alt="Post 2")
        span.item-post__date <b>14</b> Jan
        h4.base-title Sed do eiusmod tempor
        p.item-post__text.
          Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        span.item-post__icon <i class="fas fa-eye"></i> 992
        span.item-post__icon <i class="fas fa-comment"></i> 42
      .col-1-of-3.item-post
        img(src="img/post3.png", alt="Post 3")
        span.item-post__date <b>13</b> Jan
        h4.base-title Incididunt ut labore et dolore
        p.item-post__text.
          Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        hr
        span.item-post__icon <i class="fas fa-eye"></i> 1560
        span.item-post__icon <i class="fas fa-comment"></i> 98
section.map
  a#btn-map.btn-map(href="#", role="button") open map
