- var review = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.";

section.clients
  .container
    .section-heading
      span Happy Clients
      h2 What people say
    .clients__reviews.mt-90
      .row
        .col-1-of-2.client 
          img(src="img/customer1.png", alt="Matthew Dix")
          .client__info
            h4.client__name Matthew Dix
            span.specialization Graphic Design
            p.text-regular #{review}
        .col-1-of-2.client 
          img(src="img/customer2.png", alt="Nick Karvounis")
          .client__info
            h4.client__name Nick Karvounis
            span.specialization Graphic Design
            p.text-regular #{review}
      .row
        .col-1-of-2.client 
          img(src="img/customer3.png", alt="Jaelynn Castillo ")
          .client__info
            h4.client__name Jaelynn Castillo 
            span.specialization Graphic Design
            p.text-regular #{review}
        .col-1-of-2.client 
          img(src="img/customer4.png", alt="Mike Petrucci")
          .client__info
            h4.client__name Mike Petrucci
            span.specialization Graphic Design
            p.text-regular #{review}
