section.feature
  .section-heading
    span For all devices
    h2 Unique design
  img.feature__image(src="img/devices.png", alt="")
section.service2
  .container
    .section-heading
      span Service
      h2 What we do
    p.text-section.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    img(src="img/service1.png", alt="")
    #accordion.accordion
section.quote
  .container
    figure
      img(src="img/icons/speech_icon.svg", alt="Speech Icon")
    blockquote
      p: i.
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation.”
      cite.quote__author John Doe

