section.team
  .container
    .section-heading
      span Who we are
      h2 Meet our team
    p.text-section.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .team__members.row.mt-90
      .col-1-of-3
        figure.overlay-box
          img(src="img/team_member1.png", alt="Matthew Dix")
          .team__share
            a(href="#"): i.fab.fa-facebook-f
            a(href="#"): i.fab.fa-twitter
            a(href="#"): i.fab.fa-pinterest-p
            a(href="#"): i.fab.fa-instagram
        .info
          h4.base-title Matthew Dix
          span.specialization Graphic Design
      .col-1-of-3
        figure.overlay-box
          img(src="img/team_member2.png", alt="Christopher Campbell")
          .team__share
            a(href="#"): i.fab.fa-facebook-f
            a(href="#"): i.fab.fa-twitter
            a(href="#"): i.fab.fa-pinterest-p
            a(href="#"): i.fab.fa-instagram
        .info
          h4.base-title Christopher Campbell
          span.specialization Branding/UX design
      .col-1-of-3
        figure.overlay-box
          img(src="img/team_member3.png", alt="Michael Fertig")
          .team__share
            a(href="#"): i.fab.fa-facebook-f
            a(href="#"): i.fab.fa-twitter
            a(href="#"): i.fab.fa-pinterest-p
            a(href="#"): i.fab.fa-instagram
        .info
          h4.base-title Michael Fertig
          span.specialization Front-End Developer
section.companies
  .container
    ul.companies__list
      li: a(href="#")
        img(src="img/companies/barbershop1.png", alt="Hipster")
      li: a(href="#")
        img(src="img/companies/abcd.png", alt="ABCD")
      li: a(href="#")
        img(src="img/companies/design.png", alt="Design quality")
      li: a(href="#")
        img(src="img/companies/barbershop2.png", alt="Hipster 2")
      li: a(href="#")
        img(src="img/companies/barbershop3.png", alt="Hipster 3")
      li: a(href="#")
        img(src="img/companies/studio.png", alt="Studio designer")
