section.team
  .container
    .section-heading
      span Who we are
      h2 Meet our team
    p.text-section.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .team__members
      figure
        img(src="img/team_member1.png", alt="Matthew Dix")
        figcaption
          h4.member__name Matthew Dix
          span.member__position Graphic Design
      figure
        img(src="img/team_member2.png", alt="Christopher Campbell")
        figcaption
          h4.member__name Christopher Campbell
          span.member__position Branding/UX design
      figure
        img(src="img/team_member3.png", alt="Michael Fertig")
        figcaption
          h4.member__name Michael Fertig
          span.member__position Front-End Developer
section.companies
  .container
    ul.companies__list
      li: a(href="#")
        img(src="#", alt="")
      li: a(href="#")
        img(src="#", alt="")
      li: a(href="#")
        img(src="#", alt="")
      li: a(href="#")
        img(src="#", alt="")
      li: a(href="#")
        img(src="#", alt="")
      li: a(href="#")
        img(src="#", alt="")
