@mixin socialLinks($sprite, $width, $height) {
  display: block;
  background-image: $sprite;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}

@mixin figureCircle($size) {  
  display: inline-block;
  width: $size;
  height: $size;
  border: 1px solid $color-main;
  border-radius: 50%;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
