* {
  padding: 0;
  margin: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // default 16px --> 10px = 1rem;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: $font-second;
  overflow-x: hidden;
  font-weight: 400;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-weight: 400;
}

main {
  display: block;
}

input,
textarea {
  display: block;
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

// Utility

.white {
  color: #fff;
}

.d-flex {
  display: flex;
}

.mb-med {
  margin-bottom: 30px;
}

section,
article {
  min-height: 200px;
  text-align: center;
}
