// Fonts
$font-main: 'Raleway', sans-serif;
$font-second: 'Open Sans', sans-serif;
// Sprites
$sprite-bg: url(../img/icons_sprite.png);
$sprite-sm: url(../img/icons_sprite_small.png);
// Colors
$color-main: #ff8b38;
$color-white: #fff;
$color-grey-1: #86878b;
