// Fonts
$font-main: 'Raleway', sans-serif;
$font-second: 'Open Sans', sans-serif;
// Sprites
$sprite-bg: url(../img/icons_sprite.png);
$sprite-sm: url(../img/icons_sprite_small.png);
// Colors
$color-main: #ff8b38;
$color-white: #fff;
$color-light-g1: #f5f5f5;
$color-grey-1: #86878b;
$color-dark: #333;
$color-black: #000;
// Size
$size-side1: 40px;
$size-side2: 70px;
// Common Icons
$icon-upload: url(../img/common_icons/upload.png) ;
$icon-download: url(../img/common_icons/download.png);
$icon-bulb: url(../img/common_icons/bulb.png);
$icon-keyboard: url(../img/common_icons/keyboard.png);
$icon-lightning: url(../img/common_icons/lightning.png);
