@media only screen and (max-width: 1024px) {
  .section-4 {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
 }

@media only screen and (max-width: 425px) {
 }
