footer.footer#footer
  .container
    .footer__sections
      .footer__subscribe
        h2.company-logo--2 MoGo
        p.text-regular.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        span 15k <ins>followers</ins>
        hr
        .follow
          ul.follow__list
            li: <span>Follow Us:</span>
            li: a(href="#"): <i class="fab fa-facebook-f"></i>
            li: a(href="#"): <i class="fab fa-twitter"></i>
            li: a(href="#"): <i class="fab fa-instagram"></i>
            li: a(href="#"): <i class="fab fa-pinterest-p"></i>
            li: a(href="#"): <i class="fab fa-google-plus-g"></i>
            li: a(href="#"): <i class="fab fa-youtube"></i>
            li: a(href="#"): <i class="fab fa-dribbble"></i>
            li: a(href="#"): <i class="fab fa-tumblr"></i>
          form(action="#", method="get")
            input(type="email", name="Email", placeholder="Your Email...")
            input.btn-submit(type="submit", value="Subscribe") 
      .footer__blogs
        h3.base-title blogs
        .footer__blogs-item
          img(src="img/blogs_photo1.png", alt="")
          .footer__blogs-describe
            p.base-title Lorem ipsum dolor sit amet, consectetur adipiscing
            span.date Jan 9, 2016
        .footer__blogs-item
          img(src="img/blogs_photo2.png", alt="")
          .footer__blogs-describe
            p.base-title Consectetur adipiscing elit, sed do eiusmod tempor
            span.date Jan 9, 2016
        .footer__blogs-item
          img(src="img/blogs_photo3.png", alt="")
          .footer__blogs-describe
            p.base-title Sed do eiusmod tempor incididunt ut labore
            span.date Jan 9, 2016
      .footer__instagram
        h3.base-title instagram
        .photos-grid
          .photos-grid__col
            img(src="img/instagram/photo1.png", alt="Photo 1")
            img(src="img/instagram/photo2.png", alt="Photo 2")
            img(src="img/instagram/photo3.png", alt="Photo 3")
          .photos-grid__col
            img(src="img/instagram/photo4.png", alt="Photo 4")
            img(src="img/instagram/photo5.png", alt="Photo 5")
            img(src="img/instagram/photo6.png", alt="Photo 6")
          .photos-grid__col
            img(src="img/instagram/photo7.png", alt="Photo 7")
            img(src="img/instagram/photo8.png", alt="Photo 8")
            img(src="img/instagram/photo9.png", alt="Photo 9")
        a(href="http://instagram.com", target="_blank", rel="nofollow noopener") View more photos
    p.copyright.
      &copy; 2018 MoGo free PSD template by <span>Laaqiq</span>
