footer.footer
  .container
    .footer__sections
      .footer__subscribe
        h2.company-logo--2 MoGo
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        span <b>15k</b> followers
        hr
        .follow
          span Follow Us:
          ul.follow__list
            li: a(href="#"): i
            li: a(href="#"): i
            li: a(href="#"): i
            li: a(href="#"): i
            li: a(href="#"): i
            li: a(href="#"): i
            li: a(href="#"): i
        form(action="#", method="get")
          input(type="email", name="Email", placeholder="Your Email...")
          input(type="submit", value="Subscribe") 
      .footer__blogs
        .footer__blogs-item
          img(src="#", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipiscing
          span.date Jan 9, 2016
        .footer__blogs-item
          img(src="#", alt="")
          p Consectetur adipiscing elit, sed do eiusmod tempor
          span.date Jan 9, 2016
        .footer__blogs-item
          img(src="#", alt="")
          p sed do eiusmod tempor incididunt ut labore
          span.date Jan 9, 2016
      .footer__instagram
        .photos-grid
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
          img(src="#", alt="")
        a(href="http://instagram.com") View more photos
    p.footer__copyright
      span &copy; 2018 MoGo free PSD template by Laaqiq
