section#banner.banner
  .container
    header.header
      nav.header__nav
        a.company-logo(href="#") MoGo
        a.menu-opener#menu-btn(href="#", title="burger menu")
          span
        ul.header__menu
          li: a.active(href="#about") About
          li: a(href="#service") Service
          li: a(href="#work") Work
          li: a(href="#blog") Blog
          li: a(href="#") Contact
          li: a(href="#"): i.icon.icon__shoping.
          li: a(href="#"): i.icon.icon__glass.
    .welcome-heading
      h2.welcome-heading__top Creative Template
      h1.welcome-heading__main Welcome to MoGo
      button.btn-outline.mt-lg Learn more
    ul.slider
      li: a(href="#") <span>01</span> intro
      li: a(href="#") <span>02</span> work
      li: a(href="#") <span>03</span> about
      li: a(href="#") <span>04</span> contacts
