@import "variables";
@import "mixins";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1400px;
  @include box-shadow-block;
}

header {
  background-color: $black; 
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}

.top-navigation {
  position: absolute;
  right: 5%;
}

.logo {
  margin: 5px 125px;
}

.top-menu {
  list-style-type: none;
  @include flex;
  @include justify-content-right;
  font-family: $OpenSans;
  font-size: 14px;
  margin: 5px 60px 0 0;
}
.menu-item {
  padding: 0 20px;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $icons;
    }
  }
}

main {
  background: url(../pics/main-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include flex;
  @include justify-content-space-between;
}

.main-text {
  padding: 115px 0 130px 150px;
  color: $white;
  font-family: $Raleway;
  width: 520px;
  .main-header {
    font-size: 36px;
    text-transform: uppercase;
  }
  .main-paragraph {
    font-size: 16px;
    position: relative;
    padding: 40px 0;
    margin: 0;
    opacity: 0.8;
    line-height: 1.6;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $white;
      width: 63px;
      height: 2px;
    }
  }
  .download {
    background: transparent;
    border: 2px solid $white;
    color: $white;
    font-family: $OpenSans;
    font-size: 15px;
    padding: 8px 30px;
  }
}
.main-form {
  padding: 140px 0 120px 150px;
  .form-header {
    width: 360px;
    background-color: $light;
    color: $item-header;
    font-family: $OpenSans;
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    @include border-radius-top(4px); 
    .free-word {
      text-transform: uppercase;
      color: $icons;
    }
  }
  .login-form {
    background-color: $white;
    @include flex;
    @include flex-direction-column;
    @include align-items-center;
    width: 360px;
    margin: 0 145px 0 0;
    @include border-radius-bottom(4px);
    input {
      @include input-borders(none, none, 1px solid $socials-n-shadow, none);
      width: 280px;
      margin: 25px 0;
      padding: 5px 0;
      @include flex;
      @include flex-direction-column;
      @include align-items-center;
      @include justify-content-space-around;
      &::placeholder {
        padding-left: 10px;
        font-size: 14px;
        color: $placeholder;
      }
      &[type=password] {
        margin-bottom: 45px;
      }
    }
    button {
      width: inherit;
      font-size: 15px;
      padding: 20px 0;
      background-color: #ff8b38;
      color: white;
      @include border-radius-bottom(4px);
    }
  }
}

.social-m-bar {
  background-color: $white;
  @include flex;
  @include justify-content-space-around;
  padding: 10px 140px;
  .social-media {
    @include flex;
    @include flex-direction-column;
    font-family: $OpenSans;
    .socials-header {
      font-size: 20px;
      color: $item-header;
      margin: 0;
    }
    .socials-paragraph {
      font-size: 14px;
      color: $font;
      margin: 0;
    }
  }
  .social-icons {
    font-size: 48px;
    color: $socials-n-shadow;
    margin: 20px;
    @include flex;
    .fa {
      padding: 0 28px;
      &:hover {
        color: $icons;
      }
    }
  }
}




