@import "variables";
@import "mixins";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 1400px;
}

header {
  background-color: $black; 
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}

.top-navigation {
  position: absolute;
  right: 5%;
}

.logo {
  margin: 5px 100px;
}

.top-menu {
  list-style-type: none;
  display: flex;
  justify-content: right;
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 5px 60px 0 0;
}
.menu-item {
  padding: 0 20px;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $icons-color;
    }
  }
}

main {
  background: url(../pics/main-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-text-indent {
  padding: 5px 0;
}

.main-text {
  padding: 100px 150px;
  color: $white;
  font-family: 'Raleway';
  .main-header {
    font-size: 36px;
    text-transform: uppercase;
  }
  .main-paragraph {
    font-size: 16px;
    position: relative;
    padding: 25px 140px 25px 0;
    margin: 0;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $white;
      width: 75px;
      height: 2px;
    }
  }
  .download {
    background: transparent;
    color: $white;
    font-family: 'Open Sans';
    padding: 8px 30px;
  }
}