//////////     PHONE     //////////
@media screen and (max-width: 678px) {
  body{
    header {
      @include flex-direction-column;
      min-height: 15px;
      .logo {
        display: none;
      }
    }
  
    .main-text {
      padding: 50px;
    }
  
    .main-form {
      display: none;
    }

    .social-m-bar {
      @include flex-direction-column;
      @include align-items-center;
      padding: 10px 0;
      .socials-paragraph {
        display: none;
      }
      .social-icons {
        .fa {
          padding: 0 15px;
        }
      }
    }

    .tabs-bar {
      position: relative;
      padding: 130px 0;
      .tabs {
        padding: 30px;
        .tabs-item {
          padding: 15px 20px;
        }
      }
      .tabs-img {
        position: absolute;
        padding: 0;
        bottom: 5%;
        right: 15%;
        img {
          width: 230px;
        }
      }
    }
    
    .city-view {
      display: none;
    }

    .sub-list {
      .sub-list-section {
        padding: 0;
      }
    }

    .standart-picture {
      .right {
        display: none;
      }
    }

    .sections {
      text-align: center;
      .section-elements {
        @include flex-direction-column;
        padding: 0;
        .wtia-item-paragraph {
          padding-bottom: 20px;
        }
      }  
    }

    .pricing-options {
      .basic {
        margin: 0;
      }
      .enterprise {
        margin: 0;
      }
    }
    
  }
}

//////////     TABLET     //////////
@media  screen and (min-width: 679px) and (max-width: 1027px) {
  body{
    header {
      @include flex-direction-column;
      min-height: 60px;
      position: relative;
      .top-navigation {
        position: absolute;
        bottom: 10%;
      }
    }
  
    .main-text {
      padding: 50px;
    }
  
    .main-form {
      display: none;
    }

    .social-m-bar {
      @include flex-direction-column;
      @include align-items-center;
      padding: 10px 0;
      
    }

    .tabs-bar {
      position: relative;
      padding: 50px 0 70px 0;
      @include flex;
      @include flex-direction-column;
      @include align-items-center;
      .tabs {
        padding: 30px;
        @include flex;
        @include justify-content-space-between;
        .tabs-item {
          padding: 15px 20px;
          margin: 0 30px;
        }
      }
      .tabs-text {
        padding: 20px 60px;
      }
      .tabs-img {
        position: absolute;
        padding: 0;
        bottom: 5%;
        right: 15%;
        img {
          width: 170px;
        }
      }
    }

    .city-view {
      width: 315px;
      height: 250px;
      margin: 25px;
    }

    .sub-list {
      padding: 70px 105px 100px 80px;
      position: relative;
      .sub-list-section {
        padding: 40px;
        .sub-l {
          position: absolute;
          left: 10%;
          .sub-img {
            .fa {
              padding: 5px;
              margin-bottom: 93%;
            }
          }
          .sub-l-text {
            p {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    .standart-picture {
      padding: 70px 105px 100px 80px;
      .right {
        margin: 25px 0 25px 40px;
      }
    }

    .sections {
      text-align: center;
      .section-elements {
        .wtia-item {
          text-align: center;
          margin: 0 30px;
          .wtia-item-paragraph {
            width: 120px;
          }
        }
      }  
    }

    .pricing-options {
      padding: 0;
      .pricing-item {
        margin: 5px;
        .pricing-header {
          width: 230px;
        }
        .b {
          padding: 0;
          width: 230px;
        }
        .pr {
          padding: 0;
          width: 230px;
        }
        .e {
          padding: 0;
          width: 230px;
        }
        .pricing-features {
          padding: 0;
          width: 230px;
          li {
            width: 230px;
          }
          .diff {
            width: 230px;
          }
        }
      }
      .basic {
        margin-top: 44px;
      }
      .enterprise {
        margin-top: 44px;
      }
    }
  }
}
  