$black-background: #000000;
$socials-color: #cccccc;
$item-header-color: #333333;
$font-color: #86878b;
$white-background: #ffffff;
$section-header-color: #212121;
$icons-color: #ff8b38;
$font-family-main: 'Raleway';
$font-family-button: 'Open Sans - Semibold';
$font-family-text: 'Open Sans';

