@mixin p-el($el, $width, $height, $content:null, $pos:absolute) {
  &::#{$el} {
    display: block;
    content: "#{$content}";
    position: $pos;
    width: $width;
    height: $height;
    @content;
  }
}

@mixin d-flex($justify:space-between, $direction:row) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  @content;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin icon-bg($path) {
  background: $path no-repeat 50% 50%;
}
