* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px ---> 1rem
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: 1.4rem;
}

a {
  color: $color-white;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

// fix for IE >= 9
main {
  display: block;
}

// Utility classes
.mt-lg {
  margin-top: 50px;
}
