// Colors
$color-main: #f38181;
$color-second: #fce38a;
$color-alt: #95e1d3;
$color-white: #fff;
// Fonts
$font-main: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;
$font-alt: 'Kaushan Script', cursive;
