* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: OpenSans, sans-serif;
    /* 1rem = 10px  10px/16px = 0.625 = 62.5% */
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 66%;
    }

    @include respond(phone) {
        font-size: 55%;
    }
}

.container {
    padding: 0 11%;
    width: 100%;

    @include respond(phone) {
        padding: 0 7%;
    }
}
