.u-centered {
    margin-left: auto;
    margin-right: auto;
}

.u-color-white {
    color: $color-white-mode;
}

.u-background-white {
    background-color: $color-white-mode;
}

.u-hidden {
    display: none;
}

.u-show {
    display: block;
}
