$black: #000000;
$socials-n-shadow: #cccccc;
$item-header: #333333;
$placeholder: #bdbdbd;
$section-background: #f5f5f5;
$font: #86878b;
$white: #ffffff;
$section-header: #212121;
$icons: #ff8b38;
$light: lighten($socials-n-shadow, 15%);
$OpenSans: 'Open Sans';
$Raleway: 'Raleway';
$valid: #4cd83a;
$invalid: #d32815;

