.header {
    padding: 10% 0;
    @include flex($justify: center, $align: center);
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &__video {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        z-index: -1;
    }

    &__heading {
        width: 50%;
        font-size: 6rem;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 2.4px;
        text-align: center;
        color: $color-grey-light;

        @include respond(tablet) {
            width: 55%;
            font-size: 5rem;
        }
        @include respond(tablet-port) {
            width: 70%;
            font-size: 4rem;
        }

        @include respond(phone) {
            width: 90%;
        }
    }

    &__play-icon {
        margin-top: 3rem;
        width: 6rem;
        filter: brightness(120%);

        &:focus,
        &:active {
            outline: none;
        }

        @include respond(phone) {
            width: 5rem;
        }
    }

    &__btn {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}
