.wrapper {
    font-size: 20px;
}
input[type="checkbox"] {
    display: none;
}
input:checked + label {
    color: grey;
}
input[id="red"]:not(:checked) ~ .span-red {
    display: none;
}
input[id="green"]:not(:checked) ~ .span-green {
    display: none;
}
input[id="blue"]:not(:checked) ~ .span-blue {
    display: none;
}
label {
    margin-right: 10px;
    text-decoration: underline;
}
.label-red {
    color: red;
}
.label-green {
    color: green;
}
.label-blue {
    color: blue;
}
span {
    margin-right: 10px;
    padding: 1px 5px;
    color: white;
    border-radius: 3px;
}
.span-red {
    background-color: red;
}
.span-green {
    background-color: green;
}
.span-blue {
    background-color: blue;
}
