.font-fam{
  font-family: Lato;
}
.title-font{
  font-size: 1.04vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.18vw;
}
body{
  width: 100%;
  background-color: #ffffff;
}
header{
  width: 100%;
  background: url(./img/header.png) no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header-main{
  width: 54.38%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-top{
  width: 65px;
  height: 69px;
  margin-top: 27.5%;
  background: url(./img/logo.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}
.title{
  text-align: center;
  margin-top: 8.2%;
  color: #ffffff;
  font-size: 2.81vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45vw;
  line-height: 3.2vw;
}
.text{
  margin-top: 3.3%;
  text-align: center;
  color: #ffffff;
  font-size: 0.78vw;
  font-weight: 400;
  line-height: 1.51vw;
  text-transform: uppercase;
  letter-spacing: 0.047vw;
}
.sign-bottom{
  width: 23px;
  height: 37px;
  margin-top: 23%;
  margin-bottom: 11%;
  background-color: #ffffff;
  background: url(./img/sign_bottom.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}
.about-us{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-main{
  width: 47%;
  border-bottom: 2px solid #3c3c3c;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-main{
  margin: 8.1% 0 8.1% 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-us-main:before,
.about-us-main:after{
  content: '';
  position: absolute;
  left: 0;
  width: 26.7%;
  height: 2px;
  background: #3c3c3c;
}
.about-us-main:before{
  top: 0;
}
.about-us-main:after{
  bottom: 99.7%;
  left:73.5%;
}
.all-title{
  margin-top: -1.7%;
  text-align: center;
  color: #3c3c3c;
  font-size: 1.77vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.26vw;
}
.all-text{
  width: 64%;
  margin-top: 6%;
  text-align: center;
  color: #3c3c3c;
  font-size: 0.83vw;
  font-weight: 300;
  line-height: 1.25vw;
}
.all-text-bottom{
  width: 50%;
  margin: 2.7% 0 5.5% 0;
  text-align: center;
  color: #3c3c3c;
  font-size: 0.83vw;
  font-weight: 300;
  line-height: 1.25vw;
}
.servises{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./img/servises.png)
}
.servises-main{
  width: 47%;
  margin: 6.7% 0 5.7% 0;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servises-main{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.servises-main:before,
.servises-main:after{
  content: '';
  position: absolute;
  left: 0;
  width: 26.7%;
  height: 2px;
  background: #ffffff;
}
.servises-main:before{
  top: 0;
}
.servises-main:after{
  bottom: 99.7%;
  left:73.5%;
}
.servises-title{
  margin-top: -1.7%;
  text-align: center;
  color: #ffffff;
  font-size: 1.77vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.26vw;
}
.servises-text{
  width: 64%;
  margin: 6% 0 5.5% 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.83vw;
  font-weight: 300;
  line-height: 1.4vw;
}
.what-we-do{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.what-we-do-main{
  width: 47%;
  margin: 6.2% 0 6% 0;
  border-bottom: 2px solid #3c3c3c;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-we-do-main{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.what-we-do-main:before,
.what-we-do-main:after{
  content: '';
  position: absolute;
  left: 0;
  width: 26.7%;
  height: 2px;
  background: #3c3c3c;
}
.what-we-do-main:before{
  top: 0;
}
.what-we-do-main:after{
  bottom: 100%;
  left: 73.5%;
}
.what-we-do-title{
  margin-top: -1.7%;
  text-align: center;
  color: #3c3c3c;
  font-size: 1.77vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.26vw;
}
.design{
  width: 47%;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item{
  width: 83px;
  height: 85px;
}
.mini-title{
  margin-top: 8%;
  text-align: center;
  color: #3c3c3c;
}
.mini-text{
  width: 135%;
  margin-top: 7%;
  text-align: center;
  color: #3c3c3c;
  font-size: 0.73vw;
  font-weight: 300;
  line-height: 1.35vw;
}
.development{
  width: 50%;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.development-mini-title{
  margin-top: 7.4%;
  text-align: center;
  color: #3c3c3c;
}
.item-development{
  width: 79px;
  height: 76px;
}
.product-management{
  width: 50%;
  margin: 10% 0 9.5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-management-mini-title{
  margin-top: 13%;
  text-align: center;
  color: #3c3c3c;
}
.product-management-mini-text{
  width: 135%;
  margin-top: 8.3%;
  text-align: center;
  color: #3c3c3c;
  font-size: 0.73vw;
  font-weight: 300;
  line-height: 1.35vw;
}
.item-product{
  width: 80px;
  height: 91px;
}
.our-works{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works{
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work-name{
  margin-left: 8.5%;
  margin-bottom: 6.8%;
  color: #ffffff;
  font-size: 1.77vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}
.work-name-center{
  margin-left: 5.5%;
  margin-bottom: 4.8%;
  color: #ffffff;
  font-size: 1.77vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}
.topworkz{
  width: 28.5%;
  height: 18vh;
  background: url(./img/topworkz.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.joint{
  width: 42%;
  height: 18vh;
  background: url(./img/joint.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.market{
  width: 28.5%;
  height: 18vh;
  background: url(./img/market.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.worktop{
  width: 28.5%;
  height: 18vh;
  margin-top: .6%;
  background: url(./img/worktop.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.lable{
  width: 42%;
  height: 18vh;
  margin-top: .6%;
  background: url(./img/lable.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.kyiv{
  width: 28.5%;
  height: 18vh;
  margin-top: .6%;
  background: url(./img/kyiv.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.contact-us{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-main{
  width: 46.5%;
  margin-top: 7.4%;
  border-bottom: 2px solid #3c3c3c;
  border-left: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us-main{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-us-main:before,
.contact-us-main:after{
  content: '';
  position: absolute;
  left: 0;
  width: 26.4%;
  height: 2px;
  background: #3c3c3c;
}
.contact-us-main:before{
  top: 0;
}
.contact-us-main:after{
  bottom: 99.5%;
  left: 73.8%;
}
.contact-us-title{
  margin-top: -1%;
  color: #3c3c3c;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}
.contact-us-text{
  width: 65%;
  margin-top: 5.5%;
  text-align: center;
  color: #3c3c3c;
  font-size: 0.83vw;
  font-weight: 300;
  line-height: 1.35vw;
}
.btn{
  width: 44%;
  height: 4vh;
  margin: 4.6% 0 5.6% 0;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  background-color: #525252;
  cursor: pointer;
}
.btn-text{
  color: #ffffff;
  font-size: 0.83vw;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .132vw;
}
footer{
  margin: 3% 0 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-main{
  width: 17.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 35px;
  height: 37px;
  background: url(./img/logo-bottom.png) no-repeat;
  background-size: cover;
}
.copyrights{
  margin-top: 4%;
  text-align: left;
  color: #3c3c3c;
  font-size: 0.73vw;
  font-weight: 400;
}