// Colors
$color-main: #f38181;
$color-second: #fce38a;
$color-alt: #95e1d3;
$color-white: #fff;
$color-light-1: #f8f8f8;
$color-light-2: #e5e5e5;
$color-grey-l1: #ccc;
$color-grey-l2: #999;
$color-dark:#333;
// Fonts
$font-main: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;
$font-alt: 'Kaushan Script', cursive;
// Icons
$icon-shoping_cart: url(../img/icons/shoping_cart.svg);
$icon-magnifying_glass: url(../img/icons/magnifying_glass.svg);
$icon-map_pin: url(../img/icons/map_pin.svg);
$figure-1: url(../img/icons/alarm_icon.svg);
$figure-2: url(../img/icons/graph_icon.svg);
$figure-3: url(../img/icons/computer_icon.svg);
$figure-4: url(../img/icons/book_icon.svg);
$figure-5: url(../img/icons/home_icon.svg);
$figure-6: url(../img/icons/image_icon.svg);
$icon-arrow: url(../img/icons/arrow.svg);
// Paddings
$padding-about: 11rem;
$padding-service: 2rem 0 7rem;
$padding-service2: 2rem 0 12rem;
$padding-quote: 7rem 5rem 6.2rem;
$padding-team: 1rem 0 12rem;
$padding-testimonial: 10rem 0 13rem;
$padding-clients: 2rem 0 6rem;
$padding-blog: 2rem 0 12rem;
$padding-footer: 6rem;
// Backgrounds
$bg-banner: url(../img/backgrounds/banner_bg.png);
$bg-feature: url(../img/backgrounds/feature_bg.png);
$bg-clients: url(../img/backgrounds/clients_bg.png);
$bg-map: url(../img/backgrounds/map_bg.png);
// Gradients
$gradient-main: linear-gradient(
                    to bottom,
                    rgba($color-main, 0.9) 0%,
                    rgba($color-second, 0.9) 100%);
$gradient-white: linear-gradient(
                    90deg, 
                    rgba($color-white,.85 ) 0%, 
                    rgba($color-white,.85) 100%);
// Container
$max-width: 1200px;
$column-gap: 2%;
// Breakpoints
$screen-sm: 475;  // Smartphone
$screen-md: 768;  // Tablet
$screen-lg: 1024; // Desktop Small
$screen-xl: 1200; // Desktop Medium
