.comments,
.blockquotes {
  .container {
    position: relative;
    padding: 70px;
  }
}
.slider {
  overflow: hidden;
}
// .holder {
//   width: 300%;
//   display: flex;
//   transition-delay: 3s; 
// }
.comment {
  padding: 0;
}
.slide {
  display: none;
  &.show-comment {
    display: flex;
    align-items: center;
  }
  .speech-icon {
  align-self: center;
  }
}

.slide-2 {
  display: none;
  &.show-comment {
    display: flex;
  }
  .author-photo {
  align-self: center;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  border-radius: 3px;
  user-select: none;
  top: 150px;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: #000000;
}