$colorWhite: #ffffff;
$redColor: #f38181;
$greenColor: #95e1d3;
$yellowColor: #fce38a;
$yellowColorOnHover: $yellowColor;
$fontColorBlack: #333333;
$fontColorGrey: #999999;
$fontColorLightGrey: #cccccc;
$backgroundColorYellow: $yellowColor;
$backgroundColorWhite: $colorWhite;
$backgroundColorLight: #f8f8f8;
$borderColorLight: #e5e5e5;

$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;