@font-face {
    font-family: MonsterratBold;
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: MonsterratReg;
    src: url(../fonts/Montserrat-Regular.otf);
}

$white-font: #ffffff;
$dark-font: #333333;
$orange-background: #fce38a;
$headline-hover-color: $orange-background;
$creative-font: 'Kaushan Script', cursive;
$roboto-font: 'Roboto', sans-serif;
$gray-color: #999999;
$backgroung-color: #f38181;

