html {
  margin: 0;
  padding: 0; }

body {
  margin: auto;
  padding: 0;
  max-width: 1920px; }

main {
  background-image: url(../pics/backgrounds/main-background-picture.png);
  margin: 0; }

.font {
  font-family: "Roboto";
  color: #999999;
  font-size: 15px; }

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.second-back {
  background-color: #fce38a;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 0.9;
  padding: 0 280px; }
  .second-back header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .second-back header .small-logo {
      font-size: 21px;
      font-weight: bold;
      margin: 0;
      padding: 17px 0; }

.main-font {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px; }

.top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 0; }
  .top-navigation .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
    color: #ffffff; }
    .top-navigation .top-menu .menu-item {
      padding: 0 16px;
      cursor: pointer; }
      .top-navigation .top-menu .menu-item:hover {
        color: #fce38a; }
    .top-navigation .top-menu .about:hover {
      border-bottom: 3px solid #fce38a;
      padding: 0;
      margin-right: 16px; }
    .top-navigation .top-menu .about:visited {
      border-bottom: 3px solid #fce38a;
      padding: 0;
      margin-right: 16px; }
