.btn {

  &-primary,
  &-outline {
    @extend %button;
  }

  &-primary {
    border: none;
    border-radius: 3px;
    background: $color-main;
    line-height: 4.6rem;
    padding: 0 2.2rem;
    transition: all .3s ease;

    &:hover,
    &:focus {
      outline: none;
      background-color: $color-second;
      transform: translateY(-3px);
    }
    
    &:active {
      transform: translateY(-1px);
      background-color: darken($color-second, 15%);
    }
  }

  &-outline {
    background: transparent;
    border: 2px solid $color-white;
    padding: 0.9rem 3rem;
    transition: all .3s ease-out;

    &:hover,
    &:focus {
      color: $color-black;
      outline: none;
      background-color: rgba($color-white, .5);
      border-color: $color-main;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }
}
