.btn {

  &-primary,
  &-outline {
    @extend %button;
  }

  &-primary {
    border: none;
    border-radius: 3px;
    background: $color-main;
    line-height: 4.6rem;
    padding: 0 2.2rem;
  }

  &-outline {
    background: transparent;
    border: 2px solid $color-white;
    padding: 0.9rem 3rem;
    transition: all .3s ease-out;

    &:hover,
    &:focus {
      background-color: rgba($color-white, .5);
      border-color: $color-main;
      color: $color-black;
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }

  &--active {
    background: $color-main;
  }
}
