// 1200px
@media only screen and (max-width: $screen-xl + 'px') {
  .signup-form {

    &--heading {
      padding: 1.5rem;
      font-size: 1.8rem;
    }

    [type="button"] {
      line-height: 3.3;
    }
  }
};

// 992px
@media only screen and (max-width: $screen-lg + 'px') {
  .hero {
    padding: 18rem 7.5% 13.8rem;
  }

  .social {
    padding: 2rem 5%;
  }

  .signup-form {

    & > fieldset {
      padding-left: 5%;
    }
  }

  .cards-holder {
    padding: 0;
  }

  .reviews {
    padding: 8rem 5.5% 10rem;
  }

  .users-list {
    .user-details {
      margin-left: 4%;
      width: 100px;
    }
  }
}

// 991px - 767px
@media only screen and (max-width: $screen-lg - 1 + 'px') and (min-width: $screen-md - 1 + 'px') {
  .hero {
    grid-template-columns: auto 40.5%;
  }
}

// 768px
@media only screen and (max-width: $screen-md + 'px') {
  // Hero & Social
  .hero {
    grid-gap: 0;

    &--title::after {
      display: none;
    }
  }

  .company {
    margin: 0 auto;
    text-align: center;
  }

  .singup-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .social--bar {
    display: none;
  }

  // Features
  .features {
    
    &--first {
      grid-gap: 5.5%;
      padding: 9.5rem 7.5% 11rem;
      
      .feature--content {
        text-align: center;
      }
    }

    &--second {
      grid-gap: 5%;
    }

    &--third {
      padding: 7.5rem 10% 2rem;
    }
  }

  .feature--tabs {
    flex-direction: row;

    button:first-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
    }

    button:last-child {
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
    }

    button:not(:last-child) {
      margin: 0;
      margin-right: 10px;
    }
  }

  .feature--title {
    text-align: center;
    font-size: 3rem;
  }

  .small-line {
    margin: 0 auto 25px;
  }

  // About
  .about {
    padding-bottom: 11.5rem;
  }

  .benefits {
    grid-gap: 5%;
  }

  // Pricing
  .cards-holder {
    grid-gap: 0;
  }

  .pricing-slot {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 35px;

    &:nth-child(2) {
      margin-top: 0;
    }
  }

  // Reviews
  .users-list {
    grid-gap: 5%;

    .testimonial {
      @include d-flex();
      max-width: 100%;
      align-items: center;

      &:nth-child(2) {
        
        & > blockquote {
          order: 1;
  
          &::after {
            left: -17px;
            bottom: 20px;
            transform: rotate(90deg);
          }
        }

        .user-details {
          margin-right: auto;
        }
      } 

      &:not(:nth-child(2)) {

        & > blockquote::after {
          left: auto;
          right: -17px;
          bottom: 20px;
          transform: rotate(-90deg);
        }

        .testimonial--avatar {
          margin-left: auto;
        }
      }
    }

    blockquote {
      max-width: 60%;
    }
  }

  // Custom & Contact
  .custom {
    padding: 5rem;
  }

  .contact-us {
    padding: 4rem 1rem;
  }
}

// 576px
@media only screen and (max-width: $screen-sm + 'px') {
}
