* {
  padding: 0;
  margin: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // default 16px --> 10px = 1rem;
  box-sizing: border-box;
}

body {
  color: $color-dark-1;
  font-size: 1.4rem;
  font-family: $font-second;
  overflow-x: hidden;
  font-weight: 400;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  display: block;
}

input,
textarea {
  @extend %input;
}

fieldset {
  border: none;
}

section {
  text-align: center;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

// Utility
.mb-md {
  margin-bottom: 30px;
}

.mt-md {
  margin-top: 30px;
}

.mb-bg {
  margin-bottom: 40px;
}

.mt-bg {
  margin-top: 40px;
}
