.social-link {

  &--fb-sm,
  &--tw-sm,
  &--gp-sm,
  &--pn-sm,
  &--ins-sm,
  &--stu-sm,
  &--rss-sm {
    @include socialLinks($sprite-sm, 29px, 23px);
  }

  &--fb-sm {
    background-position: 8px 0;
  }

  &--tw-sm {
    background-position: -39px 0;
  }

  &--gp-sm {
    background-position: -91px 0;
  }

  &--pn-sm {
    background-position: -137px 0;
  }

  &--ins-sm {
    background-position: -187px 0;
  }

  &--stu-sm {
    background-position: -241px 0;
  }

  &--rss-sm {
    background-position: -294px 0;
  }

  &--fb,
  &--tw,
  &--gp,
  &--pn,
  &--ins,
  &--stu,
  &--rss {
    @include socialLinks($sprite-bg, 55px, 46px);
  }

  &--fb {
    background-position: 10px 0;
  }

  &--tw {
    background-position: -85px 0;
  }

  &--gp {
    background-position: -190px 0;
  }

  &--pn {
    background-position: -280px 0;
  }

  &--ins {
    background-position: -381px 0;
  }

  &--stu {
    background-position: -483px 0;
  }

  &--rss {
    background-position: -592px 0;
  }
}
