// Fonts
$font-main: 'Raleway', sans-serif;
$font-second: 'Open Sans', sans-serif;
// Sprites
$sprite-bg: url(../img/icons_sprite.png);
$sprite-sm: url(../img/icons_sprite_small.png);
// Colors
$color-main: #ff8b38;
$color-white: #fff;
$color-light-g1: #f5f5f5;
$color-grey-1: #86878b;
$color-dark: #333;
$color-dark-2: #212121;
$color-black: #000;
// Size
$size-side1: 40px;
$size-side2: 70px;
// Common Icons
$icon-upload: url(../img/common_icons/upload.png) ;
$icon-download: url(../img/common_icons/download.png);
$icon-bulb: url(../img/common_icons/bulb.png);
$icon-keyboard: url(../img/common_icons/keyboard.png);
$icon-lightning: url(../img/common_icons/lightning.png);
// Section paddings
$padding-hero: 18rem 15rem 13.8rem;
$padding-social: 2rem 15rem;
$padding-feature-1: 14.5rem 7.4rem 11rem;
$padding-feature-2: 11rem 11.6rem;
$padding-feature-3: 10.5rem 15.3rem 4.5rem;
$padding-about: 8rem 12.5rem 10.4rem;
$padding-pricing: 7.5rem 14.5rem 6rem;
$padding-reviews: 8rem 17rem 10rem;
$padding-custom: 4.5rem 5rem 6.2rem;
$padding-contact: 8rem 8rem 5.6rem;
// Container
$max-width: 1400px;
