// Fonts
$font-main: 'Raleway', sans-serif;
$font-second: 'Open Sans', sans-serif;
// Sprites
$sprite-bg: url(../img/icons_sprite.png);
$sprite-sm: url(../img/icons_sprite_small.png);
// Colors
$color-main: #ff8b38;
$color-white: #fff;
$color-black: #000;
$color-light: #f5f5f5;
$color-grey: #86878b;
$color-dark-1: #333;
$color-dark-2: #212121;
// Size
$size-side1: 40px;
$size-side2: 70px;
// Common Icons
$icon-upload: url(../img/common_icons/upload.png) ;
$icon-download: url(../img/common_icons/download.png);
$icon-bulb: url(../img/common_icons/bulb.png);
$icon-keyboard: url(../img/common_icons/keyboard.png);
$icon-lightning: url(../img/common_icons/lightning.png);
// Section paddings
$padding-hero: 18rem 9.5% 13.8rem 10.5%;
$padding-social: 2rem 11%;
$padding-feature-1: 14.5rem 5.5% 11rem;
$padding-feature-2: 11rem 7.5% 11.5rem;
$padding-feature-3: 7.5rem 5% 7.5rem 11%;
$padding-about: 8rem 7.5% 10.2rem;
$padding-pricing: 8rem 7.5% 6rem;
$padding-reviews: 8rem 11.5% 10rem;
$padding-custom: 4.5rem 6rem 6.2rem;
$padding-contact: 8rem 6% 5.6rem;
// Container
$max-width: 1400px;
// Breakpoints
$screen-sm: 576; // Smartphones
$screen-md: 768; // Tablets
$screen-lg: 992; // Desktop small
$screen-xl: 1200; // Desktop medium
