@use autoprefixer {
  remove: false;
  grid: true;
  browsers: "> 1%, firefox 32";
};
// Variables & Base
@import 'variables';
@import 'helper';
@import 'normalize';
@import 'mixins';
@import 'typography';
@import 'buttons';
// Sections
@import 'header/navbar';
@import 'sections/hero';
@import 'sections/social';
@import 'sections/features';
@import 'sections/about';
@import 'sections/pricing';
@import 'sections/reviews';
@import 'sections/custom';
@import 'sections/contact';
@import 'footer/footer';
// Grid-CSS
@import 'grid-layout';
// Media queries
@import 'media';
