* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #ffffff; 
  color: #3c3c3c;
}
a {
  text-decoration: none;
}
a h4:hover {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
}
header {
  height: 751px;
  background: url("img/header.png") no-repeat center;
  background-size: cover;
}
div.header-text img:first-child {
  width: 46px;
}
div.header-text img:last-child {
  width: 16px;
}
.header-text {
  position: absolute;
  display: block;
  text-align: center;
  padding-top: 190px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.header-text h1 {
  width: 430px;
  height: 74px;
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 67px auto 38px;
}
.header-text p {
  width: 420px;
  height: 50px;
  font-size: 11px;
  font-weight: 200;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 220px;
}
.bordered {
  text-align: center;
  width: 635px;
  border: 2px solid #3c3c3c;
  border-top: 0; 
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.bordered h2 {
  position: relative;
  top: -15px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
h2 span {
  display: table;
  position: relative; 
  table-layout: auto;
  text-align: center;
  white-space: nowrap;
  width: 100%; 
}
h2 span:before,
h2 span:after {
  content: "";
  border-top: 2px solid black;
  display: table-cell;
  width: 25%;
  position: relative;
  bottom: -15px;
}
.services h2 span:before,
.services h2 span:after {
  border-top-color: #ffffff;
}
.about-us {
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-us .bordered {
  height: 220px;
}
.about-us .description {
  width: 400px;
  height: 131px;
  font-size: 11px;
  font-weight: 200;
  line-height: 17px;
  margin: 10px auto;
}
.about-us .description p {
  padding: 10px 0;
}
.services {
  background: url("img/services.png") no-repeat center; 
  background-size: cover;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services .bordered {
  height: 179px;
  border-color: #ffffff;
  margin-top: 10px;
}
.services .bordered h2 {
  color: #ffffff;
}
.services .description {
  width: 396px;
  height: 84px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 200;
  line-height: 18px;
  margin: 20px auto;
}
.what-we-do {
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 81px;
}
.what-we-do h2 {
  margin-bottom: 70px;
}
.what-we-do h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.what-we-do img {
  margin-bottom: 15px;
  width: 57px;
}
.what-we-do .description {
  width: 386px; 
  font-size: 10px;
  font-weight: 200;
  line-height: 18px;
  margin: 26px auto 65px;
}
.our-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
  grid-template-columns: 30% 40% 30%;
  margin: 20px -3px;
}
.our-works div {
  height: 169px;
  margin: 3px;
  background-size: cover;
}
.our-works h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 121px;
  margin-left: 34px;
}
.topworkz {
  background: url("img/topworkz.png") center no-repeat;
}
.joint {
  background: url("img/joint.png") center no-repeat;
}
.market {
  background: url("img/market.png") center no-repeat;
}
.worktop {
  background: url("img/worktop.png") center no-repeat;
}
.lable {
  background: url("img/lable.png") center no-repeat;
}
.kyiv {
  background: url("img/kyiv.png") center no-repeat;
}
footer {
  height: 428px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts {
  height: 210px;
  margin-bottom: 55px  
}
.contacts .description {
  width: 400px;
  height: 48px;
  font-size: 11px;
  font-weight: 200;
  line-height: 18px;
  margin: 30px auto;
}
.contacts button {
  margin-bottom: 25px;
  width: 282px;
  height: 41px;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contacts button:hover {
  border: 2px solid #3c3c3c;
  background-color: #ffffff;
  color: #3c3c3c;
  cursor: pointer;
}
.contacts button:focus {
  outline: none;
}
.rights{
  display: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
}
.rights img {
  margin-right: 26px;
  width: 25px;
}
@media only screen and (min-width: 1441px) and (max-width: 2560px){
  .header-text {
    padding-top: 367px;
  }
  .header-text h1 {
    width: 774px;
    height: 133px;
    font-size: 68px;
    font-weight: 900;
    letter-spacing: 11px;
    margin: 121px auto 68px;
  }
  .header-text p {
    width: 756px;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 324px;
  }
  div.header-text img:first-child {
    width: 83px;
  }
  div.header-text img:last-child {
    width: 40px;
  }
  .bordered {
    width: 1160px;
  }
  .bordered h2 {
    font-size: 43px;
    font-weight: 900;
  }
  .about-us {
    height: 810px;
  }
  .about-us .bordered {
    height: 400px;
  }
  .about-us .description {
    width: 720px;
    height: 236px;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    margin: 36px auto;
  }
  .services {
    height: 628px;
  }
  .services .bordered {
    height: 322px;
  }
  .services .description {
    width: 720px;
    height: 151px;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    margin: 36px auto;
  }
  .what-we-do {
    height: 1520px;
  }
  .what-we-do h2 {
    margin-bottom: 126px;
  }
  .what-we-do h3 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 7px;
  }
  .what-we-do img {
    margin-bottom: 50px;
    width: 103px;
  }
  .what-we-do .description {
    width: 695px; 
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin: 47px auto 117px;
  }
  .our-works div {
    height: 304px;
  }
  .our-works h4 {
    font-size: 43px;
    font-weight: 900;
    letter-spacing: 11px;
    margin-top: 218px;
    margin-left: 61px;
  }
  footer {
    height: 770px;
  }
  .contacts {
    height: 378px;
    margin-bottom: 77px  
  }
  .contacts .description {
    width: 682px;
    height: 86px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    margin: 54px auto;
  }
  .contacts button {
    margin-bottom: 63px;
    width: 508px;
    height: 74px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .rights{
    font-size: 18px;
    font-weight: 500;
  }
  .rights img {
    margin-right: 47px;
    width: 45px;
  }
}
@media only screen and (max-width: 767px){
  header {
    height: 50vh;
  }
  .header-text {
    padding-top: 20px;
  }
  .header-text h1 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 20px auto;
    width: 100%;
  }
  .header-text p {
    font-size: 7px;
    font-weight: 200;
    line-height: 13px;
    width: 100%;
  }
  div.header-text img:first-child {
    width: 28px;
  }
  div.header-text img:last-child {
    width: 13px;
  }
  .bordered {
    border: none;
    width: 90%;
  }
  .bordered .text {
    width: 90%;
  }
  h2 span {
    width: 80%; 
    margin: 0 auto;
  }
  .our-works {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }  
}
@media only screen and (max-width: 446px){
  .our-works {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }  
}
@media only screen and (max-height: 500px){
  .header-text {
    padding-top: 20px;
  }
  .header-text h1 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 20px auto;
    width: 100%;
  }
  .header-text p {
    font-size: 7px;
    font-weight: 200;
    line-height: 13px;
    width: 100%;
  }
}