.input {
    padding: 1.5rem;
    border: none;
    border: solid 1px #f6f5f3;
    border-radius: 4px;
    font-size: 1.4rem;
    color: $color-mode-white;
    background: none;
    background-color: #f6f5f311;

    &:focus {
        outline: none;
        // border-color: rgb(127, 212, 127);
    }

    &::placeholder {
        font-family: Exo, sans-serif;
        color: #f6f5f3;
        text-transform: uppercase;
    }

    &--footer {
        border-color: #8d8d8d;
        background-color: #8d8d8d41;
        &::placeholder {
            color: $color-paragraph;
        }
    }

    &--invalid {
        border: 2px solid red;

        :focus {
            border: 2px solid red;
        }
    }
}
