extends _layout/layout.pug

block content
  include _includes/hero.pug
  main
    include _includes/main/about.pug
    include _includes/main/service.pug
    include _includes/main/feature.pug
    include _includes/main/team.pug
    include _includes/main/work.pug
    include _includes/main/clients.pug
    include _includes/main/blog.pug
  include _includes/footer.pug
  script(src="js/menu.js")
  script(src="js/slider.js")
  script(src="js/popup.js")
  script(src="js/accordion.js")
